{% extends 'backend-base.html.twig' %}

{% block title %}Envases{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet-tabla.html', sandboxed = true) }}
      <link href="{{ asset('plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css') }}" rel="stylesheet">
      <link href="{{ asset('plugins/datatables-fixedheader/css/fixedHeader.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tabla Envases | Total: {{ envases|length }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Envase</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {# <h3 class="card-title">Tabla de envases</h3> #}
                <a class="btn btn-app" href="{{ path('envase_new') }}" style="margin: 0px;">
                  <i class="fas fa-edit"></i>
                  Crear Envase
                </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Código</th>
                            <th>Tipo de almacenamiento</th>
                            <th>Fecha de envasado</th>
                            <th>Fecha de recolección</th>
                            <th>Fecha de obtención</th>
                            <th>Ubicación envase</th>
                            <th>Cantidad gramos</th>
                            <th>Cantidad unidades</th>
                            <th>Unidades viables</th>
                            <th>Temperatura envasado</th>
                            <th>Humedad relativa envasar</th>
                            <th>Humedad relativa semilla</th>
                            <th>Cantidad min seguridad</th>
                            <th>Cantidad min unidades</th>
                            <th>Unidades gramo</th>
                            <th>Disponibilidad RED</th>
                            <th>Conservacion</th>
                            <th>Condicion Biologica</th>
                            <th>Datos ancestrales</th>
                            <th>Nombre instituto</th>
                            <th>Fuente recolección</th>
                            <th>Estado accesión MLS</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                  <tbody>
        {% for envase in envases %}
            <tr>
                <td>
                  <div class="btn-group-vertical w-100">
                    {# <a class="btn btn-default" href="{{ path('envase_show', {'id': envase.id}) }}">Ver</a> #}
                    <a class="btn btn-default" href="{{ path('envase_edit', {'id': envase.id}) }}">Editar</a>

                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('entrada_ver', {'id': envase.id}) }}">Entrada</a></li>
                        <li><a class="dropdown-item" href="{{ path('variedadEnvases_ver', {'id': envase.id}) }}">Variedad</a></li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td>{{ envase }}</td>
                <td>{{ envase.tipoAlmacenamiento }}</td>
                <td>{{ envase.fechaEnvasado ? envase.fechaEnvasado|date('Y-m-d') : '' }}</td>
                <td>{{ envase.fechaRecoleccion ? envase.fechaRecoleccion|date('Y-m-d') : '' }}</td>
                <td>{{ envase.fechaObtencion ? envase.fechaObtencion|date('Y-m-d') : '' }}</td>
                <td>{{ envase.ubicacionEnvase }}</td>
                <td>{{ envase.cantidadGramos }}</td>
                <td>{{ envase.cantidadUnidades }}</td>
                <td>{{ envase.unidadesViables }}</td>
                <td>{{ envase.temperaturaEnvasado }}</td>
                <td>{{ envase.humedadRelativaEnvasar }}</td>
                <td>{{ envase.humedadRelativaSemilla }}</td>
                <td>{{ envase.cantidadMinSeguridad }}</td>
                <td>{{ envase.cantidadMinUnidades }}</td>
                <td>{{ envase.unidadesGramo }}</td>
                <td>{{ envase.disponibilidadRed }}</td>
                <td>{{ envase.conservacion ? 'Si' : 'No' }}</td>
                <td>{{ envase.condicionBiologica }}</td>
                <td>{{ envase.datosAncestrales }}</td>
                <td>{{ envase.nombreInstituto }}</td>
                <td>{{ envase.fuenteRecoleccion }}</td>
                <td>{{ envase.estadoAccesionMls }}</td>
                <td>{{ envase.observaciones }}</td>
                <td>
                  <div class="btn-group-vertical w-100">
                    {# <a class="btn btn-default" href="{{ path('envase_show', {'id': envase.id}) }}">Ver</a> #}
                    <a class="btn btn-default" href="{{ path('envase_edit', {'id': envase.id}) }}">Editar</a>
                    
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('entrada_ver', {'id': envase.id}) }}">Entrada</a></li>
                        <li><a class="dropdown-item" href="{{ path('variedadEnvases_ver', {'id': envase.id}) }}">Variedad</a></li>
                      </ul>
                    </div>
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Sin datos</td>
            </tr>
        {% endfor %}
        </tbody>
                  <tfoot>
                    <tr>
                        <th>Acciones</th>
                        <th>Código</th>
                        <th>Tipo de almacenamiento</th>
                        <th>Fecha de envasado</th>
                        <th>Fecha de recolección</th>
                        <th>Fecha de obtención</th>
                        <th>Ubicación envase</th>
                        <th>Cantidad gramos</th>
                        <th>Cantidad unidaddes</th>
                        <th>Unidades viables</th>
                        <th>Temperatura envasado</th>
                        <th>Humedad relativa envasar</th>
                        <th>Humedad relativa semilla</th>
                        <th>Cantidad min seguridad</th>
                        <th>Cantidad min unidades</th>
                        <th>Unidades gramo</th>
                        <th>Disponibilidad RED</th>
                        <th>Conservacion</th>
                        <th>Condicion Biologica</th>
                        <th>Datos ancestrales</th>
                        <th>Nombre instituto</th>
                        <th>Fuente recolección</th>
                        <th>Estado accesión MLS</th>
                        <th>Observaciones</th>
                        <th>Acciones</th>
                    </tr>  
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js') }}"></script>
{# <script src="{{ asset('plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js') }}"></script> #}
<script src="{{ asset('plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js') }}"></script>
{# <script src="{{ asset('plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.js') }}"></script> #}

<script src="{{ asset('plugins/datatables-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
{# <script src="{{ asset('plugins/datatables-fixedheader/js/dataTables.fixedHeader.js') }}"></script> #}
<script src="{{ asset('plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js') }}"></script>
{# <script src="{{ asset('plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.js') }}"></script> #}
<script src="{{ asset('plugins/datatables-select/js/dataTables.select.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>
<!-- Page specific script -->
<script>

{# $(document).ready(function() {
    var table = $('#example1').DataTable( {
          scrollY:        "600px",
          scrollX:        true,
          fixedColumns: {
              left: 1
          },
          fixedHeader: {
            header:true
          }
    } );


} ); #}

    

  $(function () {
        $('#example1 thead th').each( function () {
        var title = $(this).text();
        if(title != "Acciones"){
          $(this).html( '<input type="text" placeholder="'+title+'" />' );
        }
    } );
    $("#example1").DataTable({

      initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },


      "responsive": false, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "order": [[ 1, "asc" ]],
        scrollY: "600px",
        scrollX: "100%",
          fixedColumns: {
            left: 1
          },
          fixedHeader: {
            header:true
          },
          dom: 'Bfrtip',
        buttons: [
            'copy',
            'csv',
            'excel',
               {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL'
            },
            {
                extend: 'print',
                text: 'Print todo',
                exportOptions: {
                    modifier: {
                        selected: null
                    }
                }
            },
               {
                extend: 'print',
                text: 'Print selección'
            }
        ],
       select: {
            style: 'multi'
        },
        
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
 
  });

</script>

{% endblock %}