{% extends 'backend-base.html.twig' %}

{% block title %}Envase{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}
    {{ include('be-layout/navbar.html', sandboxed = true) }}
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <h1>Envase</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ envase.id }}</td>
                </tr>
                <tr>
                    <th>Tipo de almacenamiento</th>
                    <td>{{ envase.tipoAlmacenamiento }}</td>
                </tr>
                <tr>
                    <th>Fecha de envasado</th>
                    <td>{{ envase.fechaEnvasado ? envase.fechaEnvasado|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Ubicacion del envase</th>
                    <td>{{ envase.ubicacionEnvase }}</td>
                </tr>
                <tr>
                    <th>Cantidad en gramos</th>
                    <td>{{ envase.cantidadGramos }}</td>
                </tr>
                <tr>
                    <th>Cantidad en unidades</th>
                    <td>{{ envase.cantidadUnidades }}</td>
                </tr>
                <tr>
                    <th>Unidades viables</th>
                    <td>{{ envase.unidadesViables }}</td>
                </tr>
                <tr>
                    <th>Temperatura del envasado</th>
                    <td>{{ envase.temperaturaEnvasado }}</td>
                </tr>
                <tr>
                    <th>Humedad relativa al envasar</th>
                    <td>{{ envase.humedadRelativaEnvasar }}</td>
                </tr>
                <tr>
                    <th>Humedad relativa de la semilla</th>
                    <td>{{ envase.humedadRelativaSemilla }}</td>
                </tr>
                <tr>
                    <th>Cantidad min seguridad</th>
                    <td>{{ envase.cantidadMinSeguridad }}</td>
                </tr>
                <tr>
                    <th>Cantidad min unidades</th>
                    <td>{{ envase.cantidadMinUnidades }}</td>
                </tr>
                <tr>
                    <th>Unidades gramo</th>
                    <td>{{ envase.unidadesGramo }}</td>
                </tr>
                <tr>
                    <th>Disponibilidad RED</th>
                    <td>{{ envase.disponibilidadRed }}</td>
                </tr>
                <tr>
                    <th>Conservacion</th>
                    <td>{{ envase.conservacion ? 'Si' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Condicion Biologica</th>
                    <td>{{ envase.condicionBiologica }}</td>
                </tr>
                <tr>
                    <th>Datos ancestrales</th>
                    <td>{{ envase.datosAncestrales }}</td>
                </tr>
                <tr>
                    <th>Fuente recolección</th>
                    <td>{{ envase.fuenteRecoleccion }}</td>
                </tr>
                <tr>
                    <th>Estado accesión con respecto al MLS</th>
                    <td>{{ envase.estadoAccesionMls }}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ envase.observaciones }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('envase_index') }}">Volver a la lista</a>

        <a href="{{ path('envase_edit', {'id': envase.id}) }}">Editar</a>

        {{ include('envase/_delete_form.html.twig') }}
    </div>

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
{% endblock %}
