<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva Variedad</li>
            </ol>
          </div>
        </div>
        <!-- Anclas -->
        <div>
          <a class="btn btn-primary" href="#ancla-variedad">Variedad</a>
          <a class="btn btn-info" href="#ancla-generico">Genérico</a>
          <a class="btn btn-secondary" href="#ancla-especifico">Específico</a>
          <a class="btn btn-success" href="#ancla-caracteristicas">Descripción morfológica</a>
          <a class="btn bg-gradient-purple bg-purple" href="#ancla-agroOrga">Agronómica y Organolépticas</a>
          <a class="btn bg-gradient-olive bg-olive" href="#ancla-usos">Usos</a>
          
        </div> <!-- /Anclas -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      {{ form_start(form) }}
      <div class="container-fluid">
        <div id="variedad" class="row" style="">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 id="ancla-variedad" class="card-title">Variedad</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
                <div class="card-body">
                  {# <div class="form-group">
                    <p><b>Código ID</b></p>
                    <div class="flex">
                      <label for="codigo" class="lavel-centrado">VAR-</label>
                      {{ form_widget(form.codigo, {'attr': {'class': 'form-control', 'placeholder': '00000'}}) }}
                    </div>
                  </div> #}
                  <div class="form-group">
                    <label for="variedad1_nombreComun">Nombre Común</label>
                    <a href="#" data-toggle="tooltip" title="Nombre común del cultivo">?</a>
                    {{ form_widget(form.nombreComun, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_nombreLocal">Nombre Local</label>
                    <a href="#" data-toggle="tooltip" title="La designación registrada u otra designación que se da al material recibido. Si hay varios nombres, se separan con punto y coma sin dejar espacio entre ellos. Ejemplo: Nombre de la accesión: Bogatyr;Symphony;Emma.">?</a>
                    {{ form_widget(form.nombreLocal, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_especie">Especie: </label>
                    <a href="#" data-toggle="tooltip" title="La parte específica del nombre científico.">?</a>
                    <input id ="variedad1_especie" class="form-control" type="text" name="variedad1[especie]" list="especie_list"  />
                    <datalist id="especie_list"></datalist>
                  </div>
                  <div class="form-group">
                    <label for="variedad1_densidad">Densidad</label>
                    <a href="#" data-toggle="tooltip" title="Densidad de cultivo en gr/m2. Formato: 0.000">?</a>
                    {{ form_widget(form.densidad, {'attr': {'class': 'form-control', 'placeholder': '0.000'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_caracterizacion">Caracterización</label>
                    <a href="#" data-toggle="tooltip" title="Caracterización de la variedad.">?</a>
                    {{ form_widget(form.caracterizacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_conocimientosTradicionales">Conocimientos Tradicionales</label>
                    <a href="#" data-toggle="tooltip" title="Conocimeinitos tradicionales aosciados a la variedad.">?</a>
                    {{ form_widget(form.conocimientosTradicionales, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_propagacion">Propagación, selección y mejora</label>
                    <a href="#" data-toggle="tooltip" title="Descripción del manejo para la propagación, selección y mejora del cultivo.">?</a>
                    {{ form_widget(form.propagacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_otros">Otros aspectos</label>
                    <a href="#" data-toggle="tooltip" title="Descripción de los aspectos más significativos para la propagación, selección y mejora del cultivo.">?</a>
                    {{ form_widget(form.otros, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="Para añadir notas o para completar datos.">?</a>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {# <div class="form-group">
                    <label for="usoVariedad">Uso variedad</label>
                    {{ form_widget(form.usoVariedad, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                  {# <div class="form-group">
                    <label for="cicloYSiembras">Ciclo y Siembras</label>
                    {{ form_widget(form.cicloYSiembras, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                  {# <div class="form-group">
                    <label for="especie">Especie</label>
                    {{ form_widget(form.especie, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                </div>
                <div class="alerta"></div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
                {{ form_end(form) }}  
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="row alerta"></div>
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('variedad_index') }}">Volver a la lista</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      
      {{ form_end(form) }}  


      {# {% if text_form == 'Editar Variedad' %}
        {{ include('variedad/_delete_form.html.twig') }}
      {% endif %} #}
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
