<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }} <span class="font-bold">{{ span_form }}</span></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva Variedad</li>
            </ol>
          </div>
        </div>
        <!-- Anclas -->
        <div>
          <a class="btn btn-primary" href="#ancla-variedad">Variedad</a>
          <a class="btn bg-gradient-purple bg-purple" href="#ancla-agroOrga">Agronómica y Organolépticas</a>
          <a class="btn btn-success" href="#ancla-caracteristicas">Descripción morfológica</a>
          <a class="btn btn-secondary" href="#ancla-especifico">Específico</a>
          <a class="btn btn-info" href="#ancla-generico">Genérico</a>
          <a class="btn bg-warning" href="#ancla-manejo">Manejo</a>
          <a class="btn bg-gradient-olive bg-olive" href="#ancla-usos">Usos</a>
          {{ include('variedad/_delete_form.html.twig') }}
          
        </div> <!-- /Anclas -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      {{ form_start(form) }}
      <div class="container-fluid">
        <div id="variedad" class="row" style="">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 id="ancla-variedad" class="card-title">Variedad</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
                <div class="card-body">
                  <div class="form-group">
                    <p><b>Código ID</b></p>
                    <div class="flex">
                      <label for="codigo" class="lavel-centrado">VAR-</label>
                      {{ form_widget(form.codigo, {'attr': {'class': 'form-control', 'placeholder': '00000'}}) }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="variedad1_nombreComun">Nombre Común</label>
                    <a href="#" data-toggle="tooltip" title="Nombre común del cultivo">?</a>
                    {{ form_widget(form.nombreComun, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_nombreLocal">Nombre Local</label>
                    <a href="#" data-toggle="tooltip" title="La designación registrada u otra designación que se da al material recibido. Si hay varios nombres, se separan con punto y coma sin dejar espacio entre ellos. Ejemplo: Nombre de la accesión: Bogatyr;Symphony;Emma.">?</a>
                    {{ form_widget(form.nombreLocal, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_especie">Especie: </label>
                    <a href="#" data-toggle="tooltip" title="La parte específica del nombre científico.">?</a>
                    <input id ="variedad1_especie" class="form-control" type="text" name="variedad1[especie]" list="especie_list"  />
                    <datalist id="especie_list"></datalist>
                  </div>
                  <div class="form-group">
                    <label for="variedad1_densidad">Densidad</label>
                    <a href="#" data-toggle="tooltip" title="Densidad de cultivo en gr/m2. Formato: 0.000">?</a>
                    {{ form_widget(form.densidad, {'attr': {'class': 'form-control', 'placeholder': '0.000'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_caracterizacion">Caracterización</label>
                    <a href="#" data-toggle="tooltip" title="Caracterización de la variedad.">?</a>
                    {{ form_widget(form.caracterizacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_conocimientosTradicionales">Conocimientos Tradicionales</label>
                    <a href="#" data-toggle="tooltip" title="Conocimeinitos tradicionales aosciados a la variedad.">?</a>
                    {{ form_widget(form.conocimientosTradicionales, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="Para añadir notas o para completar datos.">?</a>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- right column -->
          <div id="columna-right" class="col-md-6">
            <!-- general form elements -->
            <!-- card -->
            <div class="card card-primary collapsed-card">
              <div class="card-header">
                <h3 id="ancla-agroOrga" class="card-title">Envases</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="variedad1_cArgonomicas">Selecciona los envases</label>
                  <a href="#" data-toggle="tooltip" title="Con Ctrl + Click Izquierdo, puedes seleccionar más de uno.">?</a>
                  {{ form_widget(form.envases, {'attr': {'class': 'form-control'}}) }}
                  {# <datalist id="envases_list"></datalist> #}
                </div>
              </div>
            </div>
            <!-- /.card -->
            <!-- card -->
            <div class="card card-purple collapsed-card">
              <div class="card-header">
                <h3 id="ancla-agroOrga" class="card-title">Agronómica y Organolépticas</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="variedad1_cArgonomicas">Características Agronómicas</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características agronómicas más notables.">?</a>
                  {{ form_widget(form.cArgonomicas, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_cOrganolepticas">Características Organolépticas</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características orgnolépticas más notables.">?</a>
                  {{ form_widget(form.cOrganolepticas, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
            </div>
            <!-- /.card -->
            <!-- card -->
            <div class="card card-success collapsed-card">
              <div class="card-header">
                <h3 id="ancla-caracteristicas" class="card-title">Descripción morfológica</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="variedad1_cmPlanta">Características morfológicas Planta</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características más notables de la planta.">?</a>
                  {{ form_widget(form.cmPlanta, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_cmFlor">Características morfológicas Flor</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características más notables de la flor.">?</a>
                  {{ form_widget(form.cmFlor, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_cmFruto">Características morfológicas Fruto</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características más notables del fruto.">?</a>
                  {{ form_widget(form.cmFruto, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_cmSemilla">Características morfológicas Semilla</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de las características más notables de la semilla.">?</a>
                  {{ form_widget(form.cmSemilla, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
            </div>
            <!-- /.card -->
            <div class="card card-secondary collapsed-card">
              <div class="card-header">
                <h3 id="ancla-especifico" class="card-title">Específico</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="variedad1_breveDescrPlantaCultivo">Breve descripción de la planta y/o cultivo</label>
                  <a href="#" data-toggle="tooltip" title="Breve descripción de la planta y/o cultivo.">?</a>
                  {{ form_widget(form.breveDescrPlantaCultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_descripcion">Descripción</label>
                  <a href="#" data-toggle="tooltip" title="Descripción completa de la variedad.">?</a>
                  {{ form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_marcoA">Distancia entre plata</label>
                  <a href="#" data-toggle="tooltip" title="Marco A (Distancia entre planta) de plantación. Formato: 0.000">?</a>
                  {{ form_widget(form.marcoA, {'attr': {'class': 'form-control', 'placeholder': '0.000'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_marcoB">Distancia entre lineas</label>
                  <a href="#" data-toggle="tooltip" title="Marco B (Distancia entre lineas) de plantación. Formato: 0.000">?</a>
                  {{ form_widget(form.marcoB, {'attr': {'class': 'form-control', 'placeholder': '0.000'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_cicloCultivo">Ciclo de cultivo</label>
                  <a href="#" data-toggle="tooltip" title="Ciclo de cultivo, teniendo en cuenta que el cultivo está destinado para semilla.">?</a>
                  {{ form_widget(form.cicloCultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <div class="card card-info collapsed-card">
              <div class="card-header">
                <h3 id="ancla-generico" class="card-title">Genérico</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="variedad1_tipoSiembra">Tipo de siembra</label>
                  <a href="#" data-toggle="tooltip" title="Tipo de siembra.">?</a>
                  {{ form_widget(form.tipoSiembra, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_diasSemillero">Tiempo de semillero</label>
                  <a href="#" data-toggle="tooltip" title="Tiempo de semillero. Expresado en días.">?</a>
                  {{ form_widget(form.diasSemillero, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_polinizacion">Tipo de polinización</label>
                  <a href="#" data-toggle="tooltip" title="Tipo de polinización más frecuente.">?</a>
                  {{ form_widget(form.polinizacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_viabilidadMin">Viabilidad Min (Años)</label>
                  <a href="#" data-toggle="tooltip" title="Tiempo mínimo que pueden vivir las semillas en condiciones ambientales de 25 ºC.">?</a>
                  {{ form_widget(form.viabilidadMin, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="variedad1_viabilidadMax">Viabilidad Max (Años)</label>
                  <a href="#" data-toggle="tooltip" title="Tiempo máximo que pueden vivir las semillas en condiciones ambientales de 25 ºC.">?</a>
                  {{ form_widget(form.viabilidadMax, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- card -->
            <div class="card card-warning collapsed-card">
              <div class="card-header">
                <h3 id="ancla-manejo" class="card-title">Manejo</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                  <div class="form-group">
                    <label for="variedad1_manejoCultivo">Manejo del cultivo</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo del cultivo.">?</a>
                    {{ form_widget(form.manejoCultivo, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoSiembraPlantacion">Manejo de siembra o plantación</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo siembra o plantación.">?</a>
                    {{ form_widget(form.manejoSiembraPlantacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoSueloDesherbado">Manejo del suelo y desherbado</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo del suelo y desherbado.">?</a>
                    {{ form_widget(form.manejoSueloDesherbado, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoAsociacionRotacionCultivos">Manejo de asociación y rotación de cultivos</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo del cultivo.">?</a>
                    {{ form_widget(form.manejoAsociacionRotacionCultivos, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoPodaEntutorado">Manejo de poda y entutorado</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo de poda y entutorado.">?</a>
                    {{ form_widget(form.manejoPodaEntutorado, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoAbonadoRiego">Manejo de abonado y riego</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo de abonado y riego.">?</a>
                    {{ form_widget(form.manejoAbonadoRiego, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoPlagasEnfermedades">Manejo de plagas y enfermedades</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo de plagas y enfermedades.">?</a>
                    {{ form_widget(form.manejoPlagasEnfermedades, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_manejoCosechaConservacion">Manejo de cosecha y conservación</label>
                    <a href="#" data-toggle="tooltip" title="Descripción manejo de cosecha y conservación.">?</a>
                    {{ form_widget(form.manejoCosechaConservacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_propagacion">Propagación, selección y mejora</label>
                    <a href="#" data-toggle="tooltip" title="Descripción del manejo para la propagación, selección y mejora del cultivo.">?</a>
                    {{ form_widget(form.propagacion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_otros">Otros aspectos</label>
                    <a href="#" data-toggle="tooltip" title="Descripción de los aspectos más significativos para la propagación, selección y mejora del cultivo.">?</a>
                    {{ form_widget(form.otros, {'attr': {'class': 'form-control'}}) }}
                  </div>
              </div>
            </div>
            <!-- /.card -->
            <!-- card -->
            <div class="card card-olive collapsed-card">
              <div class="card-header">
                <h3 id="ancla-usos" class="card-title">Usos</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div id="contenido-usos" class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="variedad1_usoAlimenHumana">Usos para la alimentación humana</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos más notables para la alimentación humana. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoAlimenHumana" class="form-control" type="text" name="variedad1[usoAlimenHumana][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoAlimenAnimal">Usos para la alimentación animal</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos más notables para la alimentación animal. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoAlimenAnimal" class="form-control" type="text" name="variedad1[usoAlimenAnimal][]" multiple="multiple"><select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoMedicinales">Usos medicinales</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos medicinales más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoMedicinales" class="form-control" type="text" name="variedad1[usoMedicinales][]" multiple="multiple"><select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoVeterinarios">Usos veterinarios</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos veterinarios más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoVeterinarios" class="form-control" type="text" name="variedad1[usoVeterinarios][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoToxicNocivo">Usos tóxico y nocivo</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos tóxico y nocivo más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoToxicNocivo" class="form-control" type="text" name="variedad1[usoToxicNocivo][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoCombustible">Usos como combustible</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos combustibles más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoCombustible" class="form-control" type="text" name="variedad1[usoCombustible][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoConstruccion">Usos en construcción</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos en construcción más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoConstruccion" class="form-control" type="text" name="variedad1[usoConstruccion][]" multiple="multiple"><select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoArtesania">Usos en artesanía o industria</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos artesansanos o industriales más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoArtesania" class="form-control" type="text" name="variedad1[usoArtesania][]" multiple="multiple"><select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoMedioambientales">Usos medioambientales</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos medioambientales más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoMedioambientales" class="form-control" type="text" name="variedad1[usoMedioambientales][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoOrnamentales">Usos ornamentales</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos ornamentales más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoOrnamentales" class="form-control" type="text" name="variedad1[usoOrnamentales][]" multiple="multiple"></select>
                </div>
                <div class="form-group">
                  <label for="variedad1_usoSociales">Usos sociales, simbólicos y rituales</label>
                  <a href="#" data-toggle="tooltip" title="Descripción de los usos sociales, simbólicos y rituales más notables. 
Pulsar 'Ctrl + Click Izquierdo' para seleccionar más de una opción.">?</a>
                  <select id ="variedad1_usoSociales" class="form-control" type="text" name="variedad1[usoSociales][]" multiple="multiple"></select>
                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="row alerta"></div>
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('variedad_index') }}">Volver a la lista</a>
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
      </div>
      
      {{ form_end(form) }}  


      {# {% if text_form == 'Editar Variedad' %}
        {{ include('variedad/_delete_form.html.twig') }}
      {% endif %} #}
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->