{% extends 'backend-base.html.twig' %}

{% block title %}Variedades{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet-tabla.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper" style="width: fit-content;">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tabla Variedades</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Variedades</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {# <h3 class="card-title">Tabla de Variedades</h3> #}
                <a class="btn btn-app" href="{{ path('variedad_new') }}" style="margin: 0px;">
                  <i class="fas fa-edit"></i>
                  Crear Variedad
                </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Acciones</th>
                        <th data-toggle="tooltip" title="Código de identificación de la variedad">CODID</th>
                        {# <th>Código</th> #}
                        <th data-toggle="tooltip" title="Nombre común del cultivo">Nombre Común</th>
                        <th data-toggle="tooltip" title="La designación registrada u otra designación que se da al material recibido. Si hay varios nombres, se separan con punto y coma sin dejar espacio entre ellos. Ejemplo: Nombre de la accesión: Bogatyr;Symphony;Emma">Nombre Local</th>
                        <th data-toggle="tooltip" title="La parte específica del nombre científico">Especie</th>
                        <th data-toggle="tooltip" title="Nombre del género dado al taxó.">Genero</th>
                        <th data-toggle="tooltip" title="Familia botánica a la que pertenece la muestra">Familia</th>
                        <th data-toggle="tooltip" title="Breve descripción de la planta y/o cultivo">Breve Descripción Planta y/o Cultivo</th>
                        <th data-toggle="tooltip" title="Descripción completa de la variedad.">Descripción</th>
                        <th data-toggle="tooltip" title="Tipo de siembra">Tipo de Siembra</th>
                        <th data-toggle="tooltip" title="Tiempo de semillero">Tiempo de Semillero</th>
                        <th data-toggle="tooltip" title="Marco de plantación. Marco A">Distancia entre Plata</th>
                        <th data-toggle="tooltip" title="Marco de plantación. Marco B">Distancia entre Lineas</th>
                        <th data-toggle="tooltip" title="Densidad de cultivo">Densidad</th>
                        <th data-toggle="tooltip" title="Ciclo de cultivo, teniendo en cuenta que el cultivo está destinado para semilla">Ciclo Cultivo</th>
                        <th data-toggle="tooltip" title="Tipo de polinización más frecuente.">Tipo de Polinización</th>
                        <th data-toggle="tooltip" title="Densidad de cultivo">Caracterización</th>
                        <th data-toggle="tooltip" title="Tiempo mínimo que pueden vivir las semillas en condiciones ambientales de 25 ºC">Viabilidad Min</th>
                        <th data-toggle="tooltip" title="Tiempo máximo que pueden vivir las semillas en condiciones ambientales de 25 ºC">Viabilidad Max</th>
                        <th data-toggle="tooltip" title="Conocimeinitos tradicionales aosciados a la variedad">Conocimientos Tradicionales</th>
                        <th data-toggle="tooltip" title="Descripción de las características más notables de la planta">Características Morfológicas de la Planta</th>
                        <th data-toggle="tooltip" title="Descripción de las características más notables de la  flor">Características Morfológicas de la Flor</th>
                        <th data-toggle="tooltip" title="Descripción de las características más notables del fruto">Características Morfológicas del Fruto</th>
                        <th data-toggle="tooltip" title="Descripción de las características más notables de la semilla">Características Morfológicas de la Semilla</th>
                        <th data-toggle="tooltip" title="Descripción de las características agronómicas más notables">Características Agronómicas</th>
                        <th data-toggle="tooltip" title="Descripción de las características orgnolépticas más notables">Características Organolépticas</th>
                        <th data-toggle="tooltip" title="Descripción del manejo para la propagación, selección y mejora del cultivo">Propagación, Selección y Mejora</th>
                        <th data-toggle="tooltip" title="Descripción de los aspectos más significativos para la propagación, selección y mejora del cultivo">Otros Aspectos</th>
                        <th data-toggle="tooltip" title="Para añadir notas o para completar datos de los descriptores">Observaciones</th>
                        <th data-toggle="tooltip" title="">Ciclo Y Siembra Altitud</th>
                        <th data-toggle="tooltip" title="">Ciclo Y Siembra Zona</th>
                        <th data-toggle="tooltip" title="">Ciclo Y Siembra Ciclos</th>
                        <th data-toggle="tooltip" title="">Ciclo Y Siembra Época</th>
                        <th>Acciones</th>
                    </tr>   
                  </thead>
                <tbody>
                {% for variedad in variedades %}
                  {% set id = variedad.id %}
                  {% set cicloysiembras = variedad.cicloYSiembras.getValues() %}
                    <tr>
                        <td>
                          <div class="btn-group-vertical w-100">
                            <a class="btn btn-default" href="{{ path('variedad_show', {'id': variedad.id}) }}">Ver</a>
                            <a class="btn btn-default" href="{{ path('variedad_edit', {'id': variedad.id}) }}">Editar</a>

                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('variedad_img', {'id': variedad.id}) }}">Añadir imagen</a></li>
                                <li><a class="dropdown-item" href="{{ path('imagen_ver', {'id': variedad.id}) }}">Imagenes</a> </li>
                                <li><a class="dropdown-item" href="{{ path('envaseVariedad_ver', {'id': variedad.id}) }}">Envases</a> </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                        {# <td>{{ variedad.id }}</td> #}
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Código">{{ variedad.codigo }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Nombre Común" >{{ variedad.nombreComun }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Nombre Local" >{{ variedad.nombreLocal }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Especie" >{% if variedad.especie is not null %}{{ variedad.especie }}{% endif %}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Genero" >{% if variedad.especie is not null %}{{ variedad.especie.padre }}{% endif %}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Familia" >{% if variedad.especie is not null %}{{ variedad.especie.padre.padre }}{% endif %}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Descripción Planta y/o Cultivo" >{{ variedad.breveDescrPlantaCultivo }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Descripción" >{{ variedad.descripcion }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Tipo de Siembra" >{{ variedad.tipoSiembra }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Días de Semillero" >{{ variedad.diasSemillero }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Distancia entre Planta" >{{ variedad.marcoA }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Distancia entre Lineas" >{{ variedad.marcoB }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Densidad" >{{ variedad.densidad }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Ciclo Cultivo" >{{ variedad.cicloCultivo }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Tipo de Polinización" >{{ variedad.polinizacion }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Caracterización" >{{ variedad.caracterizacion }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Viabilidad Min" >{{ variedad.viabilidadMin }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Viabilidad Max" >{{ variedad.viabilidadMax }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Conocimientos Tradicionales" >{{ variedad.conocimientosTradicionales }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Morfológicas de la Planta" >{{ variedad.cmPlanta }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Morfológicas de la Flor" >{{ variedad.cmFlor }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Morfológicas del Fruto" >{{ variedad.cmFruto }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Morfológicas de la Semilla" >{{ variedad.cmSemilla }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Agronómicas" >{{ variedad.cArgonomicas }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Características Organolépticas" >{{ variedad.cOrganolepticas }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Propagación, Selección y Mejora" >{{ variedad.propagacion }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Otros Aspectos" >{{ variedad.otros }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Observaciones" >{{ variedad.observaciones }}</td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Ciclo Y Siembra Altitud" >
                          {% for element in cicloysiembras %}
                            <p>{{ element.altitud }}</p>
                          {% endfor %}
                        </td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Ciclo Y Siembra Zona" >
                          {% for element in cicloysiembras %}
                            <p>{{ element.zona }}</p>
                          {% endfor %}
                        </td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Ciclo Y Siembra Ciclos" >
                          {% for element in cicloysiembras %}
                            <p>{{ element.ciclo }}</p>
                          {% endfor %}
                        </td>
                        <td data-toggle="tooltip" title="Variedad: {{variedad}} | Columna: Ciclo Y Siembra Meses" >
                          {% for element in cicloysiembras %}
                            {% if element.enero is not empty %}<p>{{ element.enero ? "Enero" : "" }}</p>{% endif %}
                            {% if element.febrero is not empty %}<p>{{ element.febrero ? "Febrero" : "" }}</p>{% endif %}
                            {% if element.marzo is not empty %}<p>{{ element.marzo ? "Marzo" : "" }}</p>{% endif %}
                            {% if element.abril is not empty %}<p>{{ element.abril ? "Abril" : "" }}</p>{% endif %}
                            {% if element.mayo is not empty %}<p>{{ element.mayo ? "Mayo" : "" }}</p>{% endif %}
                            {% if element.junio is not empty %}<p>{{ element.junio ? "Junio" : "" }}</p>{% endif %}
                            {% if element.julio is not empty %}<p>{{ element.julio ? "Julio" : "" }}</p>{% endif %}
                            {% if element.agosto is not empty %}<p>{{ element.agosto ? "Agosto" : "" }}</p>{% endif %}
                            {% if element.septiembre is not empty %}<p>{{ element.septiembre ? "Septiembre" : "" }}</p>{% endif %}
                            {% if element.octubre is not empty %}<p>{{ element.octubre ? "Octubre" : "" }}</p>{% endif %}
                            {% if element.noviembre is not empty %}<p>{{ element.noviembre ? "Noviembre" : "" }}</p>{% endif %}
                            {% if element.diciembre is not empty %}<p>{{ element.diciembre ? "Diciembre" : "" }}</p>{% endif %}
                          {% endfor %}
                        </td>
                        <td>
                          <div class="btn-group-vertical w-100">
                            <a class="btn btn-default" href="{{ path('variedad_show', {'id': variedad.id}) }}">Ver</a>
                            <a class="btn btn-default" href="{{ path('variedad_edit', {'id': variedad.id}) }}">Editar</a>

                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('variedad_img', {'id': variedad.id}) }}">Añadir imagen</a></li>
                                <li><a class="dropdown-item" href="{{ path('imagen_ver', {'id': variedad.id}) }}">Imagenes</a> </li>
                                <li><a class="dropdown-item" href="{{ path('envaseVariedad_ver', {'id': variedad.id}) }}">Envases</a> </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
                {% endfor %}
                    </tbody>
                        <tfoot>
                            <tr>
                                <th>Acciones</th>
                                <th data-toggle="tooltip" title="Código de identificación de la variedad">ID</th>
                                {# <th>Código</th> #}
                                <th data-toggle="tooltip" title="Nombre común del cultivo">Nombre Común</th>
                                <th data-toggle="tooltip" title="La designación registrada u otra designación que se da al material recibido. Si hay varios nombres, se separan con punto y coma sin dejar espacio entre ellos. Ejemplo: Nombre de la accesión: Bogatyr;Symphony;Emma">Nombre Local</th>
                                <th data-toggle="tooltip" title="La parte específica del nombre científico">Especie</th>
                                <th data-toggle="tooltip" title="Nombre del género dado al taxó.">Genero</th>
                                <th data-toggle="tooltip" title="Familia botánica a la que pertenece la muestra">Familia</th>
                                <th data-toggle="tooltip" title="Breve descripción de la planta y/o cultivo">Breve Descripción Planta y/o Cultivo</th>
                                <th data-toggle="tooltip" title="Descripción completa de la variedad.">Descripción</th>
                                <th data-toggle="tooltip" title="Tipo de siembra">Tipo de Siembra</th>
                                <th data-toggle="tooltip" title="Tiempo de semillero">Tiempo de Semillero</th>
                                <th data-toggle="tooltip" title="Marco de plantación. Marco A">Distancia entre Plata</th>
                                <th data-toggle="tooltip" title="Marco de plantación. Marco B">Distancia entre Lineas</th>
                                <th data-toggle="tooltip" title="Densidad de cultivo">Densidad</th>
                                <th data-toggle="tooltip" title="Ciclo de cultivo, teniendo en cuenta que el cultivo está destinado para semilla">Ciclo Cultivo</th>
                                <th data-toggle="tooltip" title="Tipo de polinización más frecuente.">Tipo de Polinización</th>
                                <th data-toggle="tooltip" title="Densidad de cultivo">Caracterización</th>
                                <th data-toggle="tooltip" title="Tiempo mínimo que pueden vivir las semillas en condiciones ambientales de 25 ºC">Viabilidad Min</th>
                                <th data-toggle="tooltip" title="Tiempo máximo que pueden vivir las semillas en condiciones ambientales de 25 ºC">Viabilidad Max</th>
                                <th data-toggle="tooltip" title="Conocimeinitos tradicionales aosciados a la variedad">Conocimientos Tradicionales</th>
                                <th data-toggle="tooltip" title="Descripción de las características más notables de la planta">Características Morfológicas de la Planta</th>
                                <th data-toggle="tooltip" title="Descripción de las características más notables de la  flor">Características Morfológicas de la Flor</th>
                                <th data-toggle="tooltip" title="Descripción de las características más notables del fruto">Características Morfológicas del Fruto</th>
                                <th data-toggle="tooltip" title="Descripción de las características más notables de la semilla">Características Morfológicas de la Semilla</th>
                                <th data-toggle="tooltip" title="Descripción de las características agronómicas más notables">Características Agronómicas</th>
                                <th data-toggle="tooltip" title="Descripción de las características orgnolépticas más notables">Características Organolépticas</th>
                                <th data-toggle="tooltip" title="Descripción del manejo para la propagación, selección y mejora del cultivo">Propagación, Selección y Mejora</th>
                                <th data-toggle="tooltip" title="Descripción de los aspectos más significativos para la propagación, selección y mejora del cultivo">Otros Aspectos</th>
                                <th data-toggle="tooltip" title="Para añadir notas o para completar datos de los descriptores">Observaciones</th>
                                <th data-toggle="tooltip" title="">Ciclo Y Siembra</th>
                                <th data-toggle="tooltip" title="">Ciclo Y Siembra Zona</th>
                                <th data-toggle="tooltip" title="">Ciclo Y Siembra Ciclos</th>
                                <th data-toggle="tooltip" title="">Ciclo Y Siembra Época</th>
                                <th>Acciones</th>
                            </tr>   
                        </tfoot>
                    </table>
                </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "order": [[ 1, "asc" ]]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock %}