{% extends 'backend-base.html.twig' %}

{% block title %}Variedad{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}
    {{ include('be-layout/navbar.html', sandboxed = true) }}
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="d-flex justify-content-between pt-3">
            <h1>Variedad</h1>
            {{ include('variedad/_delete_form.html.twig') }}
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Código ID</th>
                    <td>VAR-{{ variedad.id }}</td>
                </tr>
                <tr>
                    <th>Nombre común</th>
                    <td>{{ variedad.nombreComun }}</td>
                </tr>
                <tr>
                    <th>Nombre local</th>
                    <td>{{ variedad.nombreLocal }}</td>
                </tr>
                <tr>
                    <th>Especie</th>
                    <td>{#{{ variedad.especie }}#}</td>
                </tr>
                <tr>
                    <th>Tipo de siembra</th>
                    <td>{{ variedad.tipoSiembra }}</td>
                </tr>
                <tr>
                    <th>Días de semillero</th>
                    <td>{{ variedad.diasSemillero }}</td>
                </tr>
                <tr>
                    <th>Distancia entre plata</th>
                    <td>{{ variedad.marcoA }}</td>
                </tr>
                <tr>
                    <th>Distancia entre lineas</th>
                    <td>{{ variedad.marcoB }}</td>
                </tr>
                <tr>
                    <th>Densidad</th>
                    <td>{{ variedad.densidad }}</td>
                </tr>
                <tr>
                    <th>Ciclo de cultivo</th>
                    <td>{{ variedad.cicloCultivo }}</td>
                </tr>
                <tr>
                    <th>Polinización</th>
                    <td>{{ variedad.polinizacion }}</td>
                </tr>
                <tr>
                    <th>Caracterización</th>
                    <td>{{ variedad.caracterizacion }}</td>
                </tr>
                <tr>
                    <th>Viabilidad Min (Años)</th>
                    <td>{{ variedad.viabilidadMin }}</td>
                </tr>
                <tr>
                    <th>Viabilidad Max (Años)</th>
                    <td>{{ variedad.viabilidadMax }}</td>
                </tr>
                <tr>
                    <th>Conocimientos Tradicionales</th>
                    <td>{{ variedad.conocimientosTradicionales }}</td>
                </tr>
                <tr>
                    <th>Características morfológicas Planta</th>
                    <td>{{ variedad.cmPlanta }}</td>
                </tr>
                <tr>
                    <th>Características morfológicas Flor</th>
                    <td>{{ variedad.cmFlor }}</td>
                </tr>
                <tr>
                    <th>Características morfológicas Fruto</th>
                    <td>{{ variedad.cmFruto }}</td>
                </tr>
                <tr>
                    <th>Características morfológicas Semilla</th>
                    <td>{{ variedad.cmSemilla }}</td>
                </tr>
                <tr>
                    <th>Características Agronómicas</th>
                    <td>{{ variedad.cArgonomicas }}</td>
                </tr>
                <tr>
                    <th>Características Organolépticas</th>
                    <td>{{ variedad.cOrganolepticas }}</td>
                </tr>
                <tr>
                    <th>Propagación, selección y mejora</th>
                    <td>{{ variedad.propagacion }}</td>
                </tr>
                <tr>
                    <th>Otros aspectos</th>
                    <td>{{ variedad.otros }}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ variedad.observaciones }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="{{ path('variedad_index') }}">Volver a la lista</a>
            <a class="btn btn-primary" href="{{ path('variedad_edit', {'id': variedad.id}) }}">Editar</a>
        </div>
        

    </div>

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
{% endblock %}
