{% extends 'backend-base.html.twig' %}

{% block title %}Alarmas{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet-tabla.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Alarmas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Alarmas</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              {# <div class="card-header">
                <h3 class="card-title">Tabla de Variedades</h3>
                <a class="btn btn-app" href="{{ path('variedad_new') }}" style="margin: 0px;">
                  <i class="fas fa-edit"></i>
                  Crear Variedad
                </a>
              </div> #}
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Acciones</th>
                        <th data-toggle="tooltip" title="Código de los envases relacionados con la variedad.">NUMENV</th>
                        <th data-toggle="tooltip" title="Códigos de entradas relacionada con el envase">Código de entrada</th>
                        <th data-toggle="tooltip" title="Código de identificación de la variedad.">Código Variedad</th>
                        <th data-toggle="tooltip" title="Descripción completa de la variedad.">Descripción</th>
                        <th data-toggle="tooltip" title="La parte específica del nombre científico.">Especie</th>
                        <th data-toggle="tooltip" title="Nombre del género dado al taxó.">Genero</th>
                        <th data-toggle="tooltip" title="Nombre común del cultivo.">Nombre Común</th>
                        <th data-toggle="tooltip" title="Ubicación de los envases relaciónados.">Ubicación envases</th>
                        <th data-toggle="tooltip" title="Antigüedad">Antigüedad</th>
                        <th data-toggle="tooltip" title="Unidades gramos">Unidades gramos</th>
                        <th data-toggle="tooltip" title="Cantidad en gramos">Cantidad gramos</th>
                        <th data-toggle="tooltip" title="Cantidad">Cantidad</th>

                    </tr>   
                  </thead>
                    <tbody>
                        {% for envase in envases %}
                        {% set variedades = envase.variedads.getValues %}
                        <tr>
                            <td>
                                <div class="btn-group-vertical w-100">
                                    <a class="btn btn-default" href="{{ path('envase_edit', {'id': envase.id}) }}">Editar</a>
                                </div>
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Código Envases" >{{ envase }}</td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Código Entrada">
                              <p>{{ envase.entrada }}</p>
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Código Variedades">
                              {% for variedad in variedades %}
                                <p>VAR-{{ variedad.codigo }}</p>
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Descripción">
                              {% for variedad in variedades %}
                                  {% if variedad.descripcion is not empty %}
                                    <p><span>VAR-{{variedad.codigo}}:</span> {{ variedad.descripcion }}</p>
                                  {% else %}
                                    <p class="{% if variedad.descripcion is empty %}red{% endif %}"><span>[VAR-{{variedad.codigo}}]:</span> Sin Descripción</p>
                                  {% endif %}
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Especie" >
                              {% for variedad in variedades %}
                                {% if variedad.especie is not null %}
                                  <p><span>VAR-{{variedad.codigo}}:</span> {{ variedad.especie }}</p>
                                {% else %}
                                  <p class="{% if variedad.especie is empty %}red{% endif %}"><span>[VAR-{{variedad.codigo}}]:</span> Sin Especie</p>
                                {% endif %}
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Genero" >
                              {% for variedad in variedades %}
                                {% if variedad.especie is not null %}
                                  <p><span>VAR-{{variedad.codigo}}:</span> {{ variedad.especie.padre }}</p>
                                {% else %}
                                  <p class="{% if variedad.especie is empty %}red{% endif %}"><span>[VAR-{{variedad.codigo}}]:</span> Sin Genero</p>
                                {% endif %}
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Nombre Común de la variedad" >
                              {% for variedad in variedades %}
                                  <p><span>VAR-{{variedad.codigo}}:</span> {{ variedad.nombreComun }}</p>
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Ubicación envases" >{{ envase.ubicacionEnvase }}</td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Antigüedad">
                              {% for variedad in variedades %}
                                <p  
                                  {% if antiguedad[variedad.id] <  0 %}
                                    class="red"
                                  {% endif %}
                                  {% if antiguedad[variedad.id] >  2 %}
                                    class="green"
                                  {% endif %}
                                  {% if antiguedad[variedad.id] >=  0 and antiguedad[variedad.id] <= 2 %}
                                    class="yellow"
                                  {% endif %}
                                ><span>VAR-{{variedad.codigo}}|</span> {{ antiguedad[variedad.id] }}</p>
                              {% endfor %}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Unidades gramos">
                              {{ envase.unidadesGramo }}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Cantidad gramos">
                              {{ envase.cantidadGramos }}
                            </td>
                            <td data-toggle="tooltip" title="Envase: {{envase}} | Columna: Cantidad">
                              {% for idVariedad, cantidades in arrayCantidades[envase.id] %}
                                {% if idVariedad == "sinGerminacion" %}
                                  {{ cantidades }}
                                {% else %}
                                  {% for key, cantidad in cantidades %}
                                    <p class="{{ key }}">{{idVariedad}}: {{ cantidad }}</p>
                                  {% endfor %}
                                {% endif %}

                              {% endfor %}
                            </td>
                          </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">No hay registros</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Acciones</th>
                            <th data-toggle="tooltip" title="Códigos de entradas relacionada con el envase">Códigos entrada</th>
                            <th data-toggle="tooltip" title="Código de identificación de la variedad">Código Variedad</th>
                            <th data-toggle="tooltip" title="Descripción completa de la variedad.">Descripción</th>
                            <th data-toggle="tooltip" title="La parte específica del nombre científico">Especie</th>
                            <th data-toggle="tooltip" title="Nombre del género dado al taxó.">Genero</th>
                            <th data-toggle="tooltip" title="Nombre común del cultivo">Nombre Común</th>
                            <th data-toggle="tooltip" title="Código de los envases relacionados con la variedad.">NUMENV</th>
                            <th data-toggle="tooltip" title="Ubicación de los envases relaciónados">Ubicación envases</th>
                            <th data-toggle="tooltip" title="Antigüedad">Antigüedad</th>
                            <th data-toggle="tooltip" title="Unidades gramos">Unidades gramos</th>
                            <th data-toggle="tooltip" title="Cantidad en gramos">Cantidad gramos</th>
                            <th data-toggle="tooltip" title="Cantidad">Cantidad</th>
                        </tr>   
                    </tfoot>
                </table>
             </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "order": [[ 1, "asc" ]]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock %}