{% extends 'backend-base.html.twig' %}

{% block title %}Mega-Tabla{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet-tabla.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper" style="width: fit-content;">
    {{ include('be-layout/preloader.html', sandboxed = true) }}

    {{ include('be-layout/navbar.html', sandboxed = true) }}
  
    {{ include('be-layout/sidebar.html', sandboxed = true) }}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mega-Tabla</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Mega-Tabla</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Número pasaporte</th>
                                            <th>Envases</th>
                                            <th>Variedades</th>
                                            <th>Entrada</th>
                                            <th>País origen</th>
                                            <th>Provincia</th>
                                            <th>Municipio</th>
                                            <th>Localidad</th>
                                            <th>Condición Biologica</th>
                                            <th>Fuente de recolección o adquisición</th>
                                            <th>Mejorador</th>
                                            <th>Método de mejora</th>
                                            <th>Descripción del procedimiento</th>
                                            <th>Nombre Recolector</th>
                                            <th>Nombre Donante</th>
                                            <th>Longitud del terreno</th>
                                            <th>Latitud del terreno</th>
                                            <th>Elevación del terreno</th>
                                            <th>Fecha de recolección</th>
                                            <th>Observaciones donante/recolector</th>
                                            <th>Especie</th>
                                            <th>Genero</th>
                                            <th>Familia</th>
                                            <th>Nombre común del cultivo</th>
                                            <th>Nombre local de la accesión</th>
                                            <th>Conocimientos trádicionales asociados a la variedad</th>
                                            <th>Fotos planta</th>
                                            <th>Fotos flor</th>
                                            <th>Fotos fruto</th>
                                            <th>Usos medicinales</th>
                                            <th>Fecha de envasado</th>
                                            <th>Cantidad de material envasada en gramos</th>
                                            <th>Cantidad mínima de seguridad en unidades</th>
                                            <th>Disponibilidad RED</th>
                                            <th>Porcentaje de germinación de la muestra</th>
                                            <th>Número de días en germinar</th>
                                        </tr>   
                                    </thead>
                                    <tbody>
                                        {% for entrada in entradas %}
                                            {% set terrenos = entrada.terrenos.getValues %}
                                            {% set envases = entrada.numEnvase.getValues %}
                                            {% set mejorador = entrada.mejoras %}
                                            {% set persona = entrada.persona %}
                                            {% set donanteRecolector = persona.donante %}
                                            <tr>
                                                <td>{{ entrada.numPasaporte }}</td>
                                                <td>
                                                    {% if envases is not null %}
                                                        <div class="d-flex flex-column">
                                                        {% for envase in envases %}
                                                            <a href="{{ path('envase_mostrar', {'id' : envase.id}) }}">{{ envase }}</a>
                                                        {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                <div class="d-flex flex-column">
                                                                {% for variedad in variedades %}
                                                                    <a href="{{ path('variedad_mostrar', {'id' : variedad.id}) }}">{{ variedad }}</a>
                                                                {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <a href="{{ path('entrada_mostrar', {'id' : entrada.id}) }}">{{ entrada }}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.paisOrigen }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.provincia }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.municipio }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.localidad }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            <p>{{ envase.condicionBiologica }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            <p>{{ envase.fuenteRecoleccion }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if mejorador is not null %}
                                                        {% set personas = mejorador.personas.getValues %}
                                                        {% if personas is not null %}
                                                            <div class="d-flex flex-column">
                                                            {% for persona in personas %}
                                                                <a href="{{ path('mejoras_mostrar', {'id' : persona.id}) }}">{{ persona }}</a>
                                                            {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if mejorador is not null %}
                                                        {{ mejorador.metodoMejora }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if mejorador is not null %}
                                                        {{ mejorador.descripcionProcedimiento }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if donanteRecolector is not null and donanteRecolector.numeroRecolector is not null %}
                                                        <a href="{{ path('persona_mostrar', {'id' : persona.id}) }}">{{ persona }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if donanteRecolector is not null and donanteRecolector.numeroRecolector is null %}
                                                        <a href="{{ path('persona_mostrar', {'id' : persona.id}) }}">{{ persona }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.longitud }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.latitud }}</p>
                                                        {% endfor %}
                                                    {% endif %} 
                                                </td>
                                                <td>
                                                    {% if terrenos is not null %}
                                                        {% for terreno in terrenos %}
                                                            <p>{{ terreno.elevacion }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            <p>{{ envase.fechaRecoleccion ? envase.fechaRecoleccion|date('Y-m-d') : '' }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if donanteRecolector is not null %}
                                                        {{ donanteRecolector.observaciones }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set especie = variedad.especie %}
                                                                    {% if especie is not null %}
                                                                        <p>{{ variedad.especie }}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set especie = variedad.especie %}
                                                                    {% set genero = especie.padre %}
                                                                    {% if especie is not null and genero is not null %}
                                                                        <p>{{ genero.nombre }}</p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set especie = variedad.especie %}
                                                                    {% set genero = especie.padre %}
                                                                    {% set familia = genero.padre %}
                                                                    {% if  especie is not null and genero is not null and familia is not null %}
                                                                        <p>{{ variedad.especie.padre.padre.nombre }}<p>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    <p>{{ variedad.nombreComun }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    <p>{{ variedad.nombreLocal }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    <p>{{ variedad.conocimientosTradicionales }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set imagenSeleccionadas = variedad.imagenSeleccionadas.getValues %}
                                                                    {% if imagenSeleccionadas is not null %}
                                                                        {% for imagenSeleccionada in imagenSeleccionadas %}
                                                                            {% if imagenSeleccionada.tipo == "Planta" %}
                                                                                {% set imagen = imagenSeleccionada.imagen %}
                                                                                {% if imagen is not null %}
                                                                                    <img src="/uploads/img/{{ imagen.url }}" class="img-fluid rounded mh-150 d-block">
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set imagenSeleccionadas = variedad.imagenSeleccionadas.getValues %}
                                                                    {% if imagenSeleccionadas is not null %}
                                                                        {% for imagenSeleccionada in imagenSeleccionadas %}
                                                                            {% if imagenSeleccionada.tipo == "Flor" %}
                                                                                {% set imagen = imagenSeleccionada.imagen %}
                                                                                {% if imagen is not null %}
                                                                                    <img src="/uploads/img/{{ imagen.url }}" class="img-fluid rounded mh-150 d-block">
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set imagenSeleccionadas = variedad.imagenSeleccionadas.getValues %}
                                                                    {% if imagenSeleccionadas is not null %}
                                                                        {% for imagenSeleccionada in imagenSeleccionadas %}
                                                                            {% if imagenSeleccionada.tipo == "Fruto" %}
                                                                                {% set imagen = imagenSeleccionada.imagen %}
                                                                                {% if imagen is not null %}
                                                                                    <img src="/uploads/img/{{ imagen.url }}" class="img-fluid rounded mh-150 d-block">
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set variedades = envase.variedads.getValues %}
                                                            {% if variedades is not null %}
                                                                {% for variedad in variedades %}
                                                                    {% set usosVariedad = variedad.usoVariedads.getValues %}
                                                                    {% for usos in usosVariedad %}
                                                                        {% set uso = usos.uso %}
                                                                        {% if uso.uso == "Medicinales" %}
                                                                            <p>{{ uso }}</p>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            <p>{{ envase.fechaEnvasado ? envase.fechaEnvasado|date('Y-m-d') : '' }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                           <p>{{ envase.cantidadGramos }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                           <p>{{ envase.cantidadMinUnidades }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                           <p>{{ envase.disponibilidadRed }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set germinaciones = envase.germinaciones.getValues %}
                                                            {% if germinaciones is not null %}
                                                                {% for germinacion in germinaciones %}
                                                                    <p>{{ germinacion.porcentajeGerminacionMuestra }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if envases is not null %}
                                                        {% for envase in envases %}
                                                            {% set germinaciones = envase.germinaciones.getValues %}
                                                            {% if germinaciones is not null %}
                                                                {% for germinacion in germinaciones %}
                                                                    <p>{{ germinacion.numDiasEnGerminar }}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Número pasaporte</th>
                                            <th>Envase</th>
                                            <th>Variedad</th>
                                            <th>Entrada</th>
                                            <th>País origen</th>
                                            <th>Provincia</th>
                                            <th>Municipio</th>
                                            <th>Localidad</th>
                                            <th>Condición Biologica</th>
                                            <th>Fuente de recolección o adquisición</th>
                                            <th>Mejorador</th>
                                            <th>Método de mejora</th>
                                            <th>Descripción del procedimiento</th>
                                            <th>Nombre Recolector</th>
                                            <th>Nombre Donante</th>
                                            <th>Longitud del terreno</th>
                                            <th>Latitud del terreno</th>
                                            <th>Elevación del terreno</th>
                                            <th>Fecha de recolección</th>
                                            <th>Observaciones donante/recolector</th>
                                            <th>Especie</th>
                                            <th>Genero</th>
                                            <th>Familia</th>
                                            <th>Nombre común del cultivo</th>
                                            <th>Nombre local de la accesión</th>
                                            <th>Conocimientos trádicionales asociados a la variedad</th>
                                            <th>Fotos planta</th>
                                            <th>Fotos flor</th>
                                            <th>Fotos fruto</th>
                                            <th>Usos medicinales</th>
                                            <th>Fecha de envasado</th>
                                            <th>Cantidad de material envasada en gramos</th>
                                            <th>Cantidad mínima de seguridad en unidades</th>
                                            <th>Disponibilidad RED</th>
                                            <th>Porcentaje de germinación de la muestra</th>
                                            <th>Número de días en germinar</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false, "lengthChange": true, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "order": [[ 0, "asc" ]]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock %}
