<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva Imagen</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div id="imagen" class="row" style="">
          <div class="col-md-6">
            <!-- general form elements -->
            {{ form_start(form) }}
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Imagen</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="titulo">Titulo</label>
                  {{ form_widget(form.titulo, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                </div>
                <div class="form-group">
                  <label for="url">Subir Imagen</label>
                  {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="credito">Credito</label>
                  {{ form_widget(form.credito, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="principal">Principal</label>
                  <div class="form-check">
                    {{ form_widget(form.principal, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="imagen_principal">Añadir como imagen principal</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="principal">Condiciones</label>
                  <div class="form-check">
                    {{ form_widget(form.aceptarUso, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="imagen_aceptarUso">Al subir la imagen se acepta su uso por parte de la RGCS con reconocimiento del autor</label>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Continuar</button>
              </div>
            </div>
            <input name="imagen[idVariedad]" type="hidden" value="{{ idVariedad }}" id="idVariedad">
            {{ form_end(form) }}
          </div>
        </div>
        <!-- /.row -->
        <div id="imagenSelect" class="row" style="display: none;">
          <div class="col-md-6">
            <!-- general form elements -->
            {{ form_start(form2) }}
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Tipo de Imagen</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="tipo">Tipo</label>
                  {{ form_widget(form2.tipo, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
            {{ form_end(form2) }}
          </div>
        </div>
      </div><!-- /.container-fluid -->
      <a href="{{ path('imagen_index') }}">Volver a la lista</a>

      {% if text_form == 'Editar Imagen' %}
        {{ include('imagen/_delete_form.html.twig') }}
      {% endif %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->