<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva persona</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="form-group">
          <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Datos de la persona</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  <div class="form-group">
                    <label for="fecha_inscripcion_rgcs">Fecha Inscripción</label>
                    {{ form_widget(form.fecha_inscripcion_rgcs, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="num_socio">Número Socio</label>
                    {{ form_widget(form.num_socio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nif">DNI, CIF o Pasaporte</label>
                    {{ form_widget(form.nif, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    {{ form_widget(form.apellidos, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono2">Teléfono secundario</label>
                    {{ form_widget(form.telefono2, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="correo">Correo</label>
                    {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="tipo_socio">Tipo Socio</label>
                    {{ form_widget(form.tipo_socio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="acepta_condiciones">Aceptar condiciones</label>
                    {{ form_widget(form.acepta_condiciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="otras_cuestiones">Otras Cuestiones</label>
                    {{ form_widget(form.otras_cuestiones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="documento">Documento</label>
                    {{ form_widget(form.documento, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Dirección</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <div class="form-group">
                  <label for="direccion">Dirección</label>
                    {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="localidad">Localidad</label>
                    {{ form_widget(form.localidad, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="municipio">Municipio</label>
                    {{ form_widget(form.municipio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="provincia">Provincia</label>
                    {{ form_widget(form.provincia, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="region">Región</label>
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="pais_origen">País de Origen</label>
                    {{ form_widget(form.pais_origen, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- .card-header -->
            <div class="card card-green">
              <div class="card-header">
                <h3 class="card-title">Información y condiciones</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="relacion_agricultura">Relación con la agricultura</label>
                  {{ form_widget(form.relacion_agricultura, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="terreno_cultivo">¿Tiene terreno de cultivo?</label>
                  {{ form_widget(form.terreno_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="inscripcion_rope">Inscripto en ROPE</label>
                  {{ form_widget(form.inscripcion_rope, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="codigo_rope">Codigo ROPE</label>
                  {{ form_widget(form.codigo_rope, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="ampliacion_cuota">Amplicación Cuota</label>
                  {{ form_widget(form.ampliacion_cuota, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="fecha_cuota">Fecha Cuota</label>
                  {{ form_widget(form.fecha_cuota, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="recibir_informacion">Recibir Información</label>
                  {{ form_widget(form.recibir_informacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="fecha_informacion">Fecha Información</label>
                  {{ form_widget(form.fecha_informacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_end(form) }}
              </div>
            </div>
            <!--/.col (right) -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

      <div class="container-fluid">
        <div class="form-group">
          <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
      </div>
                
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
