<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Persona</li>
            </ol>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            {# <!-- Button modal -->
            <button id="btn-donante" type="button" class="btn bg-gradient-warning" data-toggle="modal" data-target="#exampleModal">
              Añadir como donante
            </button> #}
            <a class="btn btn-primary" href="#ancla-persona">Persona</a>
            <a class="btn bg-gradient-purple bg-purple" href="#ancla-direccion">Dirección</a>
            <a class="btn btn-success" href="#ancla-info">Información y condiciones</a>
            <a class="btn btn-info" href="#ancla-numerario">Numerario</a>
          </div>
          {% if text_form == 'Editar Persona' %}
            {{ include('persona/_delete_form.html.twig') }}
          {% endif %}
        </div>
        
        {# <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del donante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                <form name="donante" method="post" class="formDonante">
                  <div class="form-group">
                    <label for="donante_tipo_donante">Tipo de donante</label>
                    <a href="#" data-toggle="tooltip" title="Seleccione el tipo de donante.">?</a>
                    <select id ="donante_tipo_donante" class="form-control" type="text" name="donante[tipo_donante]" list="tipo_donante_list">
                      <option selected disabled>--Seleccione una opción--</option>
                      <option value="Instituto de germoplasma">Instituto de germoplasma</option>
                      <option value="Otro usuario">Usuario</option>
                    <select>
                  </div>
                  <div id="instcode" class="form-group" style="display: none;">
                    <label for="donante_instcode">Código de la institución</label>
                    <a href="#" data-toggle="tooltip" title="Escribe el código de la institución.">?</a>
                    <input type="text" id="donante_instcode" class="form-control" name="donante[instcode]" maxlength="255" list="instcode_list" />
                    <datalist id="instcode_list">
                      <option value="">Ejemplo 1</option>
                      <option value="">Ejemplo 2</option>
                    </datalist>
                  </div>
                  <div class="form-group">
                    <label for="donante_proyecto">Proyecto</label>
                    <a href="#" data-toggle="tooltip" title="Nombre del proyecto o ensayo que da origen a la muestra. (sólo en el caso de que exista)">?</a>
                    <textarea type="text" id="donante_proyecto" class="form-control" name="donante[proyecto]" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="donante_num_accesion_donante">Número de accesión del donante</label>
                    <a href="#" data-toggle="tooltip" title="Cualquier otra identificación de esta accesión que se haya encontrado en otras colecciones. Use el siguiente sistema: INSTCODE:ACCENUMB;INSTCODE:ACCENUMB;">?</a>
                    <input type="text" id="donante_num_accesion_donante" class="form-control" name="donante[num_accesion_donante]" maxlength="255" />
                  </div>
                  <div class="form-group">
                    <label for="donante_observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="En caso de hacer referencia específica a alguno de los
campos incluir la abreviatura del campo seguida de dos puntos (:)
sin dejar espacios antes y después de éstos. 
Para incluir observaciones de diferentes campos, 
Separa estos con punto y coma (;) sin espacios.">?</a>
                    <textarea id="donante_observaciones" class="form-control" name="donante[observaciones]"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
                </form>
            </div>
          </div>
        </div><!-- /Modal --> #}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      {{ form_start(form) }}
      {% if text_form == 'Editar Persona' %}
      <div class="mb-3">
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
      </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 id="ancla-persona" class="card-title">Persona</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="fecha_inscripcion_rgcs">Fecha Inscripción</label>
                    <a href="#" data-toggle="tooltip" title="Fecha en la que se inscribió por primera vez como socio/a e la RGCS por primea vez, desde que se inició el formato de Sostemas de Obtención de Semillas (SOS) en el año 2019">?</a>
                    {{ form_widget(form.fecha_inscripcion_rgcs, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="num_socio">Número Socio</label>
                    <a href="#" data-toggle="tooltip" title="Número carnet de socio/a">?</a>
                    {{ form_widget(form.num_socio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nif">DNI, CIF o Pasaporte</label>
                    <a href="#" data-toggle="tooltip" title="DNI, CIF o Pasaporte">?</a>
                    {{ form_widget(form.nif, {'attr': {'class': 'form-control', 'required': ''}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <a href="#" data-toggle="tooltip" title="Nombre de la persona">?</a>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <a href="#" data-toggle="tooltip" title="Apellidos de la persona">?</a>
                    {{ form_widget(form.apellidos, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <a href="#" data-toggle="tooltip" title="Número de télefono">?</a>
                    {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono2">Teléfono secundario</label>
                    <a href="#" data-toggle="tooltip" title="Número de télefono opcional">?</a>
                    {{ form_widget(form.telefono2, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="correo">Correo</label>
                    <a href="#" data-toggle="tooltip" title="Correo eléctrinico de la persona">?</a>
                    {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {# <div class="form-group">
                    <label for="tipo_socio">Tipo Socio</label>
                    <a href="#" data-toggle="tooltip" title="Tipo de Socio">?</a>
                    {{ form_widget(form.tipo_socio, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                  <div class="form-group">
                    <label for="acepta_condiciones">Aceptar condiciones</label>
                    <a href="#" data-toggle="tooltip" title="Aceptación de requisitos y compromisos">?</a>

                    <div class="form-check">
                      {{ form_widget(form.acepta_condiciones, {'attr': {'class': 'form-check-input'}}) }}
                      <label class="form-check-label" for="persona2_acepta_condiciones">Acepta las condiciones y compromisos</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="otras_cuestiones">Otras Cuestiones</label>
                    <a href="#" data-toggle="tooltip" title="Otras Cuestiones">?</a>
                    {{ form_widget(form.otras_cuestiones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="documento">Documento</label>
                    <a href="#" data-toggle="tooltip" title="">?</a>
                    {{ form_widget(form.documento, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="Obsevaciones">?</a>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-purple collapsed-card">
              <div class="card-header">
                <h3 id="ancla-direccion" class="card-title">Dirección</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                  <a href="#" data-toggle="tooltip" title="Tipo de via + nombre de la vía, número, bloque, portal, planta, puerta, etc...">?</a>
                  {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="localidad">Localidad</label>
                  <a href="#" data-toggle="tooltip" title="Localidad">?</a>
                  {{ form_widget(form.localidad, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="municipio">Municipio</label>
                  <a href="#" data-toggle="tooltip" title="Municipio">?</a>
                  {{ form_widget(form.municipio, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                  <a href="#" data-toggle="tooltip" title="Provincia">?</a>
                  {{ form_widget(form.provincia, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="region">Comunidad Autónoma, estado o región</label>
                  <a href="#" data-toggle="tooltip" title="Comunidad Autónoma, estado o región">?</a>
                  {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="pais_origen">País de Origen</label>
                  <a href="#" data-toggle="tooltip" title="País de origen">?</a>
                  {{ form_widget(form.pais_origen, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- .card-header -->
            <div class="card card-success collapsed-card">
              <div class="card-header">
                <h3 id="ancla-info" class="card-title">Información y condiciones</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="relacion_agricultura">Relación con la agricultura</label>
                  <a href="#" data-toggle="tooltip" title="Relación con la agricultura">?</a>
                  {{ form_widget(form.relacion_agricultura, {'attr': {'class': 'form-control'}}) }}
                </div>
                {# <div class="form-group">
                  <label for="terreno_cultivo">¿Tiene terreno de cultivo?</label>
                  <a href="#" data-toggle="tooltip" title="Marca si tiene terreno de cultivo">?</a>
                  {{ form_widget(form.terreno_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div> #}
                <div class="form-group">
                  <label for="inscripcion_rope">Inscripto en ROPE</label>
                  <a href="#" data-toggle="tooltip" title="">?</a>

                  <div class="form-check">
                    {{ form_widget(form.inscripcion_rope, {'attr': {'class': 'form-check-input', 'data-campo': 'codigo-rope'}}) }}
                    <label class="form-check-label" for="persona2_inscripcion_rope">Si</label>
                  </div>
                </div>
                <div id="codigo-rope" class="form-group d-none">
                  <label for="codigo_rope">Codigo ROPE</label>
                  <a href="#" data-toggle="tooltip" title="¿Está registrado/a como Operador Ecológico? Número Registro de Operadores Ecológico">?</a>
                  {{ form_widget(form.codigo_rope, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="ampliacion_cuota">Amplicación Cuota</label>
                  <a href="#" data-toggle="tooltip" title="[2 sobres = 4€] [5 sobres = 10€] [10 sobres = 20€] [25 sobres = 50€] [50 sobres = 100€]">?</a>

                  <div class="form-check">
                    {{ form_widget(form.ampliacion_cuota, {'attr': {'class': 'form-check-input', 'data-campo': 'fecha-cuota'}}) }}
                    <label class="form-check-label" for="persona2_ampliacion_cuota">Si</label>
                  </div>
                </div>
                <div id="fecha-cuota" class="form-group d-none">
                  <label for="fecha_cuota">Fecha Cuota</label>
                  <a href="#" data-toggle="tooltip" title="Fecha de la Cuota">?</a>
                  {{ form_widget(form.fecha_cuota, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label>¿Desea recibir información de Tierra Fértil?</label>
                  <a href="#" data-toggle="tooltip" title="Recibir informacón">?</a>

                  <div class="form-check">
                    {{ form_widget(form.recibir_informacion, {'attr': {'class': 'form-check-input', 'data-campo': 'fecha-info'}}) }}
                    <label class="form-check-label" for="persona2_recibir_informacion">Si</label>
                  </div>
                </div>
                <div id="fecha-info" class="form-group d-none">
                  <label for="fecha_informacion">Fecha Información</label>
                  <a href="#" data-toggle="tooltip" title="Fecha informacón">?</a>
                  {{ form_widget(form.fecha_informacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                
              </div>
            </div>
            <!-- card -->
            <div class="card card-info collapsed-card">
              <div class="card-header">
                <h3 id="ancla-numerario" class="card-title">Numerario</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label>Marca la casilla si es numerario</label>
                  <div class="form-check">
                    {{ form_widget(form.numerario, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="persona2_numerario">Si</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="persona2_numero_cuenta_corriente">Número de cuenta corriente</label>
                  {{ form_widget(form.numero_cuenta_corriente, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="persona2_numero_cuenta_corriente">Código BIC</label>
                  {{ form_widget(form.codigoBic, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="persona2_fecha_inscripcion_numerario">Fecha de inscripción como numerario</label>
                  {{ form_widget(form.fecha_inscripcion_numerario, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label>¿Desea domicilar su cuota?</label>
                  <div class="form-check">
                    {{ form_widget(form.domiciliario, {'attr': {'class': 'form-check-input', 'onclick': 'alertDomiciliar(this);'}}) }}
                    <label class="form-check-label" for="persona2_domiciliario">Si</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿La persona ha pagado este año?</label>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="ml-2">{{ pagado ? 'Si' : 'No' }}</p>
                    </div>
                    {% if text_form == 'Editar Persona' %}
                    <div class="col-md-6">
                      <a class="btn btn-outline-info btn-block btn-flat" href="{{ path('pago_ver', {'id': persona.id}) }}" target="_blank"><i class="far fa-credit-card"></i> Ver Pagos</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- /card -->

            <!-- card -->
            <div class="card card-secondary collapsed-card">
              <div class="card-header">
                <h3 id="ancla-numerario" class="card-title">Donante o Recolector</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                {% set donante = persona.donante %}
                <div class="form-group">
                  <label for="donante_tipoDonante">Tipo de donante</label>
                  <a href="#" data-toggle="tooltip" title="¿Quién realizó la donación de la muestra?">?</a>
                  <select id ="donante_tipoDonante" class="form-control" type="text" name="donante[tipoDonante]"></select>
                  {% if donante is not null %}
                    <input type="hidden" id="tipoDonante" value="{{ donante.tipoDonante }}">
                  {% endif %}
                </div>
                <div id="campo-codigo-instituto" class="form-group" style="display: none;">
                  <label for="donante_codigoInstituto">Código Instituto</label>
                  <a href="#" data-toggle="tooltip" title="">?</a>
                  <select id ="donante_codigoInstituto" class="form-control select-institutos" type="text" name="donante[codigoInstituto]">
                    <option selected="selected" disabled="disabled"></option>
                  </select>
                  {% if donante is not null and donante.instcode is not null %}
                    <input type="hidden" id="codigoInstituto" value="{{ donante.instcode.id }}">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="donante_proyecto">Proyecto</label>
                  <a href="#" data-toggle="tooltip" title="Nombre del proyecto o ensayo que da origen a la muestra. (sólo en el caso de que exista)">?</a>
                  <textarea id="donante_proyecto" class="form-control" name="donante[proyecto]">{% if donante is not null %}{{ donante.proyecto }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                  <label for="donante_num_accesion">Número de accesión donante</label>
                  <a href="#" data-toggle="tooltip" title="Identificador asignado por el donante a una accesión. Es esencial para donaciones de otros bancos, ya que es el código que en su banco o red tiene esa muestra.">?</a>
                  <input type="text" id="donante_num_accesion" name="donante[numAccesion]" maxlength="255" class="form-control" value="{% if donante is not null %}{{ donante.numAccesionDonante }}{% endif %}">
                </div>
                <div class="form-group">
                  <label for="donante_observaciones">Observaciones</label>
                  <a href="#" data-toggle="tooltip" title="Para añadir notas o para completar datos.">?</a>
                  <textarea id="donante_observaciones" class="form-control" name="donante[observaciones]">{% if donante is not null %}{{ donante.observaciones }}{% endif %}</textarea>
                </div>
                <div class="form-group">
                  <label for="donante_institutoRecolector">Instituto recolector</label>
                  <a href="#" data-toggle="tooltip" title="">?</a>
                  <select id ="donante_institutoRecolector" class="form-control select-institutos" type="text" name="donante[institutoRecolector]">
                    <option selected="selected" disabled="disabled"></option>
                  </select>
                  {% if donante is not null and donante.codigoInstitutoRecolector is not null %}
                    <input type="hidden" id="institutoRecolector" value="{{ donante.codigoInstitutoRecolector.id }}">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="donante_institutoMejoramiento">Instituto mejoramiento</label>
                  <a href="#" data-toggle="tooltip" title="">?</a>
                  <select id ="donante_institutoMejoramiento" class="form-control select-institutos" type="text" name="donante[institutoMejoramiento]">
                    <option selected="selected" disabled="disabled"></option>
                  </select>
                  {% if donante is not null and donante.codigoInstitutoMejoramiento is not null %}
                    <input type="hidden" id="institutoMejoramiento" value="{{ donante.codigoInstitutoMejoramiento.id }}">
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="donante_codigoRecolector">Código recolector</label>
                  <a href="#" data-toggle="tooltip" title="Identificador originalmente asignado por el(los) recolector(es) de la muestra.">?</a>
                  <input type="text" id="donante_codigoRecolector" name="donante[codigoRecolector]" maxlength="40" class="form-control" value="{% if donante is not null %}{{ donante.numeroRecolector }}{% endif %}">
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- /card -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('persona_index') }}">Volver a la lista</a>
        <div>
          {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn bg-gradient-olive bg-olive'}}) }}
          <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
      </div>
      {{ form_end(form) }}  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
