<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva persona</li>
            </ol>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <!-- Button modal -->
            <button id="btn-donante" type="button" class="btn bg-gradient-warning" data-toggle="modal" data-target="#exampleModal">
              Añadir como donante
            </button>
            <a class="btn btn-primary" href="#ancla-persona">Persona</a>
            <a class="btn bg-gradient-purple bg-purple" href="#ancla-direccion">Dirección</a>
            <a class="btn btn-success" href="#ancla-info">Información y condiciones</a>
            <a class="btn btn-info" href="#ancla-numerario">Numerario</a>
          </div>
          {% if text_form == 'Editar Persona' %}
            {{ include('persona/_delete_form.html.twig') }}
          {% endif %}
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos del donante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <div class="modal-body">
                <form name="donante" method="post" class="formDonante">
                  <div class="form-group">
                    <label for="donante_tipo_donante">Tipo de donante</label>
                    <a href="#" data-toggle="tooltip" title="Seleccione el tipo de donante.">?</a>
                    <select id ="donante_tipo_donante" class="form-control" type="text" name="donante[tipo_donante]" list="tipo_donante_list">
                      <option selected disabled>--Seleccione una opción--</option>
                      <option value="Instituto de germoplasma">Instituto de germoplasma</option>
                      <option value="Otro usuario">Usuario</option>
                    <select>
                  </div>
                  <div id="instcode" class="form-group" style="display: none;">
                    <label for="donante_instcode">Código de la institución</label>
                    <a href="#" data-toggle="tooltip" title="Escribe el código de la institución.">?</a>
                    <input type="text" id="donante_instcode" class="form-control" name="donante[instcode]" maxlength="255" list="instcode_list" />
                    <datalist id="instcode_list">
                      <option value="">Ejemplo 1</option>
                      <option value="">Ejemplo 2</option>
                    </datalist>
                  </div>
                  <div class="form-group">
                    <label for="donante_proyecto">Proyecto</label>
                    <a href="#" data-toggle="tooltip" title="Nombre del proyecto o ensayo que da origen a la muestra. (sólo en el caso de que exista)">?</a>
                    <textarea type="text" id="donante_proyecto" class="form-control" name="donante[proyecto]" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="donante_num_accesion_donante">Número de accesión del donante</label>
                    <a href="#" data-toggle="tooltip" title="Cualquier otra identificación de esta accesión que se haya encontrado en otras colecciones. Use el siguiente sistema: INSTCODE:ACCENUMB;INSTCODE:ACCENUMB;">?</a>
                    <input type="text" id="donante_num_accesion_donante" class="form-control" name="donante[num_accesion_donante]" maxlength="255" />
                  </div>
                  <div class="form-group">
                    <label for="donante_observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="En caso de hacer referencia específica a alguno de los
campos incluir la abreviatura del campo seguida de dos puntos (:)
sin dejar espacios antes y después de éstos. 
Para incluir observaciones de diferentes campos, 
Separa estos con punto y coma (;) sin espacios.">?</a>
                    <textarea id="donante_observaciones" class="form-control" name="donante[observaciones]"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
                </form>
            </div>
          </div>
        </div><!-- /Modal -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      {{ form_start(form) }}
      {% if text_form == 'Editar Persona' %}
      <div class="mb-3">
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
      </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 id="ancla-persona" class="card-title">Persona</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="fecha_inscripcion_rgcs">Fecha Inscripción</label>
                    {{ form_widget(form.fecha_inscripcion_rgcs, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="num_socio">Número Socio</label>
                    {{ form_widget(form.num_socio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nif">DNI, CIF o Pasaporte</label>
                    {{ form_widget(form.nif, {'attr': {'class': 'form-control', 'required': ''}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    {{ form_widget(form.apellidos, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="telefono2">Teléfono secundario</label>
                    {{ form_widget(form.telefono2, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="correo">Correo</label>
                    {{ form_widget(form.correo, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="tipo_socio">Tipo Socio</label>
                    {{ form_widget(form.tipo_socio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="acepta_condiciones">Aceptar condiciones</label>
                    {{ form_widget(form.acepta_condiciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="otras_cuestiones">Otras Cuestiones</label>
                    {{ form_widget(form.otras_cuestiones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="documento">Documento</label>
                    {{ form_widget(form.documento, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-purple collapsed-card">
              <div class="card-header">
                <h3 id="ancla-direccion" class="card-title">Dirección</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                  {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="localidad">Localidad</label>
                  {{ form_widget(form.localidad, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="municipio">Municipio</label>
                  {{ form_widget(form.municipio, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                  {{ form_widget(form.provincia, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="region">Región</label>
                  {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="pais_origen">País de Origen</label>
                  {{ form_widget(form.pais_origen, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- .card-header -->
            <div class="card card-success collapsed-card">
              <div class="card-header">
                <h3 id="ancla-info" class="card-title">Información y condiciones</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label for="relacion_agricultura">Relación con la agricultura</label>
                  {{ form_widget(form.relacion_agricultura, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="terreno_cultivo">¿Tiene terreno de cultivo?</label>
                  {{ form_widget(form.terreno_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="inscripcion_rope">Inscripto en ROPE</label>
                  {{ form_widget(form.inscripcion_rope, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="codigo_rope">Codigo ROPE</label>
                  {{ form_widget(form.codigo_rope, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="ampliacion_cuota">Amplicación Cuota</label>
                  {{ form_widget(form.ampliacion_cuota, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="fecha_cuota">Fecha Cuota</label>
                  {{ form_widget(form.fecha_cuota, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="recibir_informacion">Recibir Información</label>
                  {{ form_widget(form.recibir_informacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="fecha_informacion">Fecha Información</label>
                  {{ form_widget(form.fecha_informacion, {'attr': {'class': 'form-control'}}) }}
                </div>
                
              </div>
            </div>
            <!-- card -->
            <div class="card card-info collapsed-card">
              <div class="card-header">
                <h3 id="ancla-numerario" class="card-title">Numerario</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body" style="display: none;">
                <div class="form-group">
                  <label>Marca la casilla si es numerario</label>
                  <div class="form-check">
                    {{ form_widget(form.numerario, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="persona2_numerario">Si</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="persona2_numero_cuenta_corriente">Número de cuenta corriente</label>
                  {{ form_widget(form.numero_cuenta_corriente, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="persona2_fecha_inscripcion_numerario">Fecha de inscripción como numerario</label>
                  {% if text_form == 'Editar Persona' %}
                  {{ form_widget(form.fecha_inscripcion_numerario, {'attr': {'class': 'form-control', 'disabled': ''}}) }}
                  {% else %}
                  {{ form_widget(form.fecha_inscripcion_numerario, {'attr': {'class': 'form-control'}}) }}
                  {% endif %}
                </div>
                <div class="form-group">
                  <label>¿Desea domicilar su cuota?</label>
                  <div class="form-check">
                    {{ form_widget(form.domiciliario, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="persona2_domiciliario">Si</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿La persona ha pagado este año?</label>
                  <div class="form-check">
                    <input type="checkbox" id="persona2_pagado" name="persona2[pagado]" class="form-check-input" value="1">
                    <label class="form-check-label" for="persona2_pagado">Si</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="persona2_fecha_renovacion">Fecha de renovación</label>
                  <input type="date" id="persona2_fecha_renovacion" name="persona2[fecha_renovacion]" class="form-control">
                </div>
              </div>
              <!-- /.card-header -->
            </div>
            <!-- /card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('persona_index') }}">Volver a la lista</a>
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
      </div>
      {{ form_end(form) }}  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
