<div id="rgcs__search" class="rgcs__search">
	<div class="rgcs__srch">
		{{ form_start(form) }}

{# dump(form) #}

{% set data = form %}

		<div class="rgcs__srch-field rgcs__form--col">
			{{ form_row(data.search, 
				{'attr': {'class':''},
				 'row_attr': {'class':'rgcs__srch-row srch-txt'}
				}) }}
			{{ form_row(data.submit, {
				'attr': {'class':'bubble__bg-a'},
				'row_attr': {'class':'rgcs__srch-row srch-btn'}
				}) }}
		</div>

		<div class="rgcs__srch-field rgcs__form--col">
			<div class="rgcs__srch-filtro">
				<span class="srch-filtro-span">Filtros</span>
				<span class="rgcs__srch-filtro-arrow"><i class="fas fa-caret-down"></i></span>
			</div>
			<!--<div class="rgcs__srch-icons">
				<div class="rgcs__srch-icon">
					<i class="fas fa-save"></i>
				</div>
				<div class="rgcs__srch-icon">
					<i class="fas fa-download"></i>
				</div>
			</div>-->

		</div>

		<div class="rgcs__srch-filtro-cont">
			<div class="rgcs__form-rows rgcs__form--col">
				{{ form_row(data.familia) }}
				{{ form_row(data.nombreComun) }}
			</div>
			<div class="rgcs__form-rows rgcs__form--col">
				{{ form_row(data.especie) }}
				<div class="rgcs__srch-row">
					<div class="multiselect">
						<div class="selectBox" onclick="showCheckboxes('boxesTipoSiembra')">
						<select>
							<option>Tipo de siembra</option>
						</select>
						<div class="overSelect"></div>
						</div>
						<div id="boxesTipoSiembra" class="checkboxes">
						<label for="directa">
							<input id="directa" type="checkbox" name="search[tipoSiembra][directa]" />Directa</label>
						<label for="semillero">
							<input id="semillero" type="checkbox" name="search[tipoSiembra][semillero]"/>Semillero</label>
						<label for="voleo">
							<input id="voleo" type="checkbox" name="search[tipoSiembra][voleo]" />Voleo</label>
						</div>
					</div>
				</div>
			</div>
			<div class="rgcs__form-rows rgcs__form--col">
				{{ form_row(data.genero) }}
				<div class="rgcs__srch-row">
					<div class="multiselect">
						<div class="selectBox" onclick="showCheckboxes('boxesEpocaSiembra')">
							<select>
								<option>Epoco de siembra</option>
							</select>
							<div class="overSelect"></div>
						</div>
					</div>
				</div>
				<div id="boxesEpocaSiembra" class="checkboxes width-97">
					<div class="meses">
						<div>
						<label for="ene">
							<input id="ene" type="checkbox" name="search[epocaSiembra][ene]" />Enero</label>
						</div>
						<div>
							<label for="feb">
								<input id="feb" type="checkbox" name="search[epocaSiembra][feb]"/>Febrero</label>
						</div>
						<div>
							<label for="mar">
								<input id="mar" type="checkbox" name="search[epocaSiembra][mar]" />Marzo</label>
						</div>
						<div>
							<label for="abr">
								<input id="abr" type="checkbox" name="search[epocaSiembra][abr]" />Abril</label>
						</div>
						<div>
							<label for="may">
								<input id="may" type="checkbox" name="search[epocaSiembra][may]" />Mayo</label>
						</div>
						<div>
							<label for="jun">
								<input id="jun" type="checkbox" name="search[epocaSiembra][jun]" />Junio</label>
						</div>
						<div>
							<label for="jul">
								<input id="jul" type="checkbox" name="search[epocaSiembra][jul]" />Julio</label>
						</div>
						<div>
							<label for="ago">
								<input id="ago" type="checkbox" name="search[epocaSiembra][ago]" />Agosto</label>
						</div>
						<div>
							<label for="sep">
								<input id="sep" type="checkbox" name="search[epocaSiembra][sep]" />Septiembre</label>
						</div>
						<div>
							<label for="oct">
								<input id="oct" type="checkbox" name="search[epocaSiembra][oct]" />Octubre</label>
						</div>
						<div>
							<label for="nov">
								<input id="nov" type="checkbox" name="search[epocaSiembra][nov]" />Noviembre</label>
						</div>
						<div>
							<label for="dic">
								<input id="dic" type="checkbox" name="search[epocaSiembra][dic]" />Diciembre</label>
						</div>
					</div>
				</div>
			</div>
			<div class="rgcs__form-rows rgcs__form--col">
				{{ form_row(data.polinizacion) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
</div>

<script>
function showCheckboxes(nombreEtiqueta) {
	$("#"+nombreEtiqueta).toggle();
}
</script>