
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 id="titulo-pagina">{{ text_form }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Administración</a></li>
                        <li class="breadcrumb-item active">Germinación</li>
                        </ol>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <a id="btn-add-revision" class="btn btn-app">
                            <i class="fas fa-plus-square"></i> Añadir revision
                        </a>
                        {% if text_form == 'Editar Germinación' %}
                        <a id="btn-show-revision" class="btn btn-app">
                            <i class="fas fa-list"></i> Ver revisiones
                        </a>
                        {% endif %}
                    </div>
                    {% if text_form == 'Editar Germinación' %}
                        {{ include('germinacion/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                {{ form_start(form) }}
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Germinación</h3>
                                </div>
                                <!-- /.card-header -->

                                <!-- form start -->
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="germinacion_envase">Envase</label>
                                            <a href="#" data-toggle="tooltip" title="Selecciona el envase relacionado.">?</a>
                                            {{ form_widget(form.envase, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div id="contenedor-variedades" class="form-group d-none">
                                            <label for="variedad1_especie">Variedad</label>
                                            <a href="#" data-toggle="tooltip" title="Seleccionar las variedad relacionada con la prueba de germinación.">?</a>
                                            
                                            <div class="d-flex">
                                                <select id ="germinacion_variedades" class="form-control select-variedades" name="germinacion[variedad]">
                                                    <option></option>
                                                </select>
                                                <a class="btn btn-default">
                                                    <i class="fas fa-plus"></i>
                                                </a> {# Añadir funcionalidad #}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_fecha_inicio">Fecha inicio</label>
                                            <a href="#" data-toggle="tooltip" title="Fecha de inicio de la prueba de germinación.">?</a>
                                            {{ form_widget(form.fecha_inicio, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label>¿La prueba ha terminado?</label>
                                            <a href="#" data-toggle="tooltip" title="Marcar si la prueba de germinación ha finalizado.">?</a>

                                            <div class="form-check">
                                                <input type="checkbox" id="germinacion_prueba_finalizada" name="germinacion[prueba_finalizada]" class="form-check-input" value="1" {% if checkboxMarcado is defined and checkboxMarcado == true %} checked {% endif %}>
                                                <label class="form-check-label" for="germinacion_prueba_finalizada">Si</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_num_semillas_para_prueba">Número de semillas empleadas para la prueba</label>
                                            <a href="#" data-toggle="tooltip" title="Número de semillas que se emplean para la realización de la prueba de germinación.">?</a>
                                            {{ form_widget(form.num_semillas_para_prueba, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        {# <div class="form-group">
                                            <label for="germinacion_temperatura_prueba_germinacion_max">Temperatura máxima</label>
                                            <a href="#" data-toggle="tooltip" title="Temperatura máxima de la prueba de germinación.">?</a>
                                            {{ form_widget(form.temperatura_prueba_germinacion_max, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_temperatura_prueba_germinacion_min">Temperatura mínima</label>
                                            <a href="#" data-toggle="tooltip" title="Temperatura mínima de la prueba de germinación.">?</a>
                                            {{ form_widget(form.temperatura_prueba_germinacion_min, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_temperatura_prueba_germinacion_media">Temperatura media</label>
                                            <a href="#" data-toggle="tooltip" title="Temperatura media de la prueba de germinación.">?</a>
                                            {{ form_widget(form.temperatura_prueba_germinacion_media, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_humedad_relativa_prueba_germinacion_max">Humedad máxima</label>
                                            <a href="#" data-toggle="tooltip" title="Humedad máxima de la prueba de germinación.">?</a>
                                            {{ form_widget(form.humedad_relativa_prueba_germinacion_max, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_humedad_relativa_prueba_germinacion_min">Humedad mínima</label>
                                            <a href="#" data-toggle="tooltip" title="Humedad mínima de la prueba de germinación.">?</a>
                                            {{ form_widget(form.humedad_relativa_prueba_germinacion_min, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_humedad_relativa_prueba_germinacion_media">Humedad media</label>
                                            <a href="#" data-toggle="tooltip" title="Humedad media de la prueba de germinación.">?</a>
                                            {{ form_widget(form.humedad_relativa_prueba_germinacion_media, {'attr': {'class': 'form-control'}}) }}
                                        </div> #}
                                        <div class="form-group">
                                            <label for="germinacion_metodo_empleado_para_germinar">Método empleado para germinar</label>
                                            <a href="#" data-toggle="tooltip" title="Metodo por el que se realiza la prueba.">?</a>
                                            {# {{ form_widget(form.metodo_empleado_para_germinar, {'attr': {'class': 'form-control'}}) }} #}
                                            <select id ="germinacion_metodo_empleado_para_germinar" class="form-control select-metodoEmpleado" name="germinacion[metodo_empleado_para_germinar]">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_observaciones">Observaciones</label>
                                            <a href="#" data-toggle="tooltip" title="Este campo se utiliza para añadir notas o para completar datos.">?</a>
                                            {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="germinacion_entrada">Entrada</label>
                                            <a href="#" data-toggle="tooltip" title="">?</a>
                                            {# {{ form_widget(form.entrada, {'attr': {'class': 'form-control select-entrada'}}) }} #}
                                            <select id="germinacion_entrada" name="germinacion[entrada]" class="form-control select-entrada">
                                                <option></option>
                                                {% for entrada in entradas %}
                                                    <option value="{{ entrada.id }}">{{ entrada.codigoEntrada }} - {{ entrada.numPasaporte }}</option>
                                                {% endfor %}
                                            </select>
                                            {% if germinacion.entrada is not null %}
                                                {% set entrada = germinacion.entrada %}
                                                <input type="hidden" id="hidden-entrada" value="{{ entrada.id }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    {# <div class="card-footer">
                                        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
                                    </div> #}
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left)-->
                        <!--.col (rigth)-->
                        <div id="col-rigth" class="col-md-6">
                            {% set reviciones = germinacion.revisiones.getValues() %}
                            {% if reviciones is not empty %}
                                {% for revicion in reviciones %}
                                    <div class="card card-olive collapsed-card">
                                        <div class="card-header">
                                            <h3 id="ancla-direccion" class="card-title">Revision: {{ revicion.id }}</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="revision_fecha_revision">Fecha inicio</label>
                                                <a href="#" data-toggle="tooltip" title="Fecha inicio de la revision.">?</a>
                                                <input type="date" id="revision_fecha_revision" required="required" class="form-control" value="{{ revicion.fechaRevision|date('Y-m-d') }}" disabled>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label>¿La revision ha terminado?</label>
                                                <a href="#" data-toggle="tooltip" title="Marcar si la revision ha finalizado.">?</a>
                                                <div class="form-check">
                                                    <input type="checkbox" id="revision_prueba_finalizada" class="form-check-input" value="1" disabled
                                                        {% if revicion.fechaRevisionFinalizacion is not null%}
                                                            checked
                                                        {% endif %}
                                                    >
                                                    <label class="form-check-label" for="revision_prueba_finalizada">Si</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_semillas_muertas">Semillas muertas</label>
                                                <a href="#" data-toggle="tooltip" title="Revision de las semillas muertas.">?</a>
                                                
                                                <input type="number" id="revision_semillas_muertas" class="form-control" value="{{ revicion.semillasMuertas }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_semillas_germinadas">Semillas germinadas</label>
                                                <a href="#" data-toggle="tooltip" title="Revision de las semillas germinadas.">?</a>
                                        
                                                <input type="number" id="revision_semillas_germinadas" class="form-control" value="{{ revicion.semillasGerminadas }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_semillas_no_germinadas">Semillas no germinadas</label>
                                                <a href="#" data-toggle="tooltip" title="Revision de las semillas no germinadas.">?</a>
                                        
                                                <input type="number" id="revision_semillas_no_germinadas" class="form-control" value="{{ revicion.semillasNoGerminadas }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_semillas_anomalas">Semillas anómalas</label>
                                                <a href="#" data-toggle="tooltip" title="Revision de las semillas anómalas.">?</a>
                                        
                                                <input type="number" id="revision_semillas_anomalas" class="form-control" value="{{ revicion.semillasAnomalas }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_semillas_enfermas">Semillas enfermas</label>
                                                <a href="#" data-toggle="tooltip" title="Revision de las semillas enfermas.">?</a>
                                            
                                                <input type="number" id="revision_semillas_enfermas" class="form-control" value="{{ revicion.semillasEnfermas }}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_temperatura_max">Temperatura máxima</label>
                                                <a href="#" data-toggle="tooltip" title="Temperatura máxima.">?</a>
                                        
                                                <input type="number" id="revision_temperatura_max" class="form-control" value="{{ revicion.temperaturaMax }}" disabled step="any">
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_temperatura_min">Temperatura minima</label>
                                                <a href="#" data-toggle="tooltip" title="Temperatura minima.">?</a>
                                        
                                                <input type="number" id="revision_temperatura_min" class="form-control" value="{{ revicion.temperaturaMin }}" disabled step="any">
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_humedad_max">Humedad máxima</label>
                                                <a href="#" data-toggle="tooltip" title="Humedad máxima.">?</a>
                                        
                                                <input type="number" id="revision_humedad_max" class="form-control" value="{{ revicion.humedadMax }}" disabled step="any">
                                            </div>
                                            <div class="form-group">
                                                <label for="revision_humedad_min">Humedad minima</label>
                                                <a href="#" data-toggle="tooltip" title="Humedad minima.">?</a>
                                        
                                                <input type="number" id="revision_humedad_min" class="form-control" value="{{ revicion.humedadMin }}" disabled step="any">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            {% endif %}
                        </div>
                        <!--/.col (rigth)-->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
                <div class="d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('germinacion_index') }}">Volver a la lista</a>
                    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
                </div>
                {{ form_end(form) }}
            </section>

            {# {% if text_form == 'Editar Entrada' %}
                {{ include('entrada/_delete_form.html.twig') }}
            {% endif %} #}
        </section>
        <!-- /.content -->
    </div>
<!-- /.content-wrapper -->
