{% extends 'backend-base.html.twig' %}

{% block title %}Editar Germinación{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  
  {{ include('germinacion/_form.html.twig', {'button_label': 'Actualizar'}) }}  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}

<script>
  $(document).ready(function() {
    // Select Variedades
    $('.select-variedades').select2({
      language: 'es',
      width: '100%',
      placeholder: "Selecciona Variedades",
      allowClear: true,
      tags: false,
    });

    // Select Entrada
    $('.select-entrada').select2({
      theme: 'bootstrap4',
      language: 'es',
      width: '100%',
      placeholder: "Selecciona entrada",
      allowClear: true,
      tags: false,
    });

    // Select Metodo Empleado
    $('.select-metodoEmpleado').select2({
      language: 'es',
      width: '100%',
      placeholder: "Selecciona Metodo",
      allowClear: true,
      tags: true,
    });
  });
</script>
<script type = "text/javascript" src ="{{ asset('/js/metodos.js') }}"></script>
<script type = "text/javascript" src ="{{ asset('/js/germinacion.js') }}"></script>
{% endblock %}
