{% extends 'backend-base.html.twig' %}

{% block title %}Uso{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}
    {{ include('be-layout/navbar.html', sandboxed = true) }}
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <h1>Uso</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ uso.id }}</td>
                </tr>
                <tr>
                    <th>Uso</th>
                    <td>{{ uso.uso }}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ uso.tipo }}</td>
                </tr>
                <tr>
                    <th>Uso Variedad</th>
                    <td>{{ uso.usoVariedad }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('uso_index') }}">Volver a la lista</a>

        <a href="{{ path('uso_edit', {'id': uso.id}) }}">Editar</a>

        {{ include('uso/_delete_form.html.twig') }}
    </div>

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
{% endblock %}
