<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nueva Entrada</li>
            </ol>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">IMPORTANTE!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>La persona y sus terrenos tiene que estar ya creados.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar Alerta</button>
                        <a  class="btn btn-primary" href="/admin/terreno/new">Añadir Persona/Terreno</a>
                    </div>
                </div>
            </div>
        </div><!-- /Modal -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Entrada</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  {# <div class="form-group">
                    <label for="codigo_entrada">Codigo de entrada</label>
                    <a href="#" data-toggle="tooltip" title="Código o número de entrada. Formato: ENT-00000">?</a>
                    {{ form_widget(form.codigo_entrada, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="num_pasaporte">Número de Pasaporte</label>
                    <a href="#" data-toggle="tooltip" title="Número de pasaporte que tiene o que se le asignará.">?</a>
                    {{ form_widget(form.num_pasaporte, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                  <div class="form-group">
                    <label for="cantidad">Cantidad en gramos</label>
                    <a href="#" data-toggle="tooltip" title="Cantidad de material que se entrega expresado en gramos.">?</a>
                    {{ form_widget(form.cantidad, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  {# <div class="form-group">
                    <label for="superficie_cultivo">Superficie de cultivo</label>
                    <a href="#" data-toggle="tooltip" title="Superficie de cultivo para esa cantidad de gramos en combinación con el % de germinación que tiene, ya que si germina el 50% la superficie cultivable será la mitad.">?</a>
                    {{ form_widget(form.superficie_cultivo, {'attr': {'class': 'form-control'}}) }}
                  </div> #}
                  <div class="form-group">
                    <label for="fecha_entrada">Fecha de entrada</label>
                    <a href="#" data-toggle="tooltip" title="Fecha de entrega o de la entrada.">?</a>
                    {{ form_widget(form.fecha_entrada, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="tipo_entrada">Tipo de entrada</label>
                    
                    {{ form_widget(form.tipo_entrada, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    <a href="#" data-toggle="tooltip" title="Para añadir notas o para completar datos.">?</a>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="variedad1_especie">Persona que trae las semillas: </label>
                    <a href="#" data-toggle="tooltip" title="Seleccione la persona.">?</a>
                    {# <input id ="entrada1_persona" class="form-control" type="text" name="entrada1[persona]" list="personas_list"  />
                    <datalist id="personas_list"></datalist> #}
                    <select id ="entrada1_persona" class="form-control select-personas" name="entrada1[persona]">
                        <option></option>
                    </select>

                    {% set personas = entrada.persona.getValues %}
                    {% if personas is not empty %}
                      <input id="persona" type="hidden" value="{{ personas[0].id }}"></input>
                    {% endif %}
                  </div>
                  <div id="terreno" class="form-group">
                    <label for="entrada1_id_terreno">Terrenos donde provienen las semillas: </label>
                    <select id="entrada1_id_terreno" class="form-control select-terrenos" name="entrada1[terrenos][]" multiple></select>

                    {% set terrenos = entrada.terrenos.getValues %}
                    {% if terrenos is not empty %}
                      {% for terreno in terrenos %}
                        <input class="terrenos" type="hidden" value="{{ terreno.id }}"></input>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                
                <!-- /.card-body -->

                <div class="card-footer">
                  <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
                </div>
              {{ form_end(form) }}
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      </section>

      <a class="btn btn-secondary" href="{{ path('entrada_index') }}">Volver a la lista</a>

      {% if text_form == 'Editar Entrada' %}
        {{ include('entrada/_delete_form.html.twig') }}
      {% endif %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->