{% extends 'backend-base.html.twig' %}

{% block title %}Entradas{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  
  {{ include('entrada/_form.html.twig') }}  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
<script>
  $(document).ready(function() {
    // Select Personas
    $('.select-personas').select2({
      language: 'es',
      width: '100%',
      placeholder: "Seleccione la persona",
      allowClear: true,
      tags: true,
    });

    // Select Terreno
    $('.select-terrenos').select2({
      theme: 'bootstrap4',
      language: 'es',
      width: '100%',
      placeholder: "Seleccione los Terrenos",
      allowClear: true,
      tags: true,
    });
  });
</script>
<script type = "text/javascript" src ="{{ asset('/js/consultas.js') }}"></script>
<script type = "text/javascript" src ="{{ asset('/js/entrada.js') }}"></script>
{% endblock %}
