{% extends 'backend-base.html.twig' %}

{% block title %}Entradas{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
 {{ include('be-layout/preloader.html', sandboxed = true) }}

  {{ include('be-layout/navbar.html', sandboxed = true) }}
  
  {{ include('be-layout/sidebar.html', sandboxed = true) }}
  

  {{ include('entrada/_form.html.twig') }}

    <a href="{{ path('entrada_index') }}">Volver a la lista</a>
  
  
  {{ include('be-layout/footer.html', sandboxed = true) }}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}

{% endblock %}
