{% extends 'backend-base.html.twig' %}

{% block title %}Entrada{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}
    {{ include('be-layout/navbar.html', sandboxed = true) }}
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <h1>Entrada</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entrada.id }}</td>
                </tr>
                <tr>
                    <th>Codigo_entrada</th>
                    <td>{{ entrada.codigoEntrada }}</td>
                </tr>
                <tr>
                    <th>Num_pasaporte</th>
                    <td>{{ entrada.numPasaporte }}</td>
                </tr>
                <tr>
                    <th>Cantidad</th>
                    <td>{{ entrada.cantidad }}</td>
                </tr>
                <tr>
                    <th>Superficie_cultivo</th>
                    <td>{{ entrada.superficieCultivo }}</td>
                </tr>
                <tr>
                    <th>Fecha_entrada</th>
                    <td>{{ entrada.fechaEntrada ? entrada.fechaEntrada|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Tipo_entrada</th>
                    <td>{{ entrada.tipoEntrada }}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ entrada.observaciones }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('entrada_index') }}">Volver a la lista</a>

    <a href="{{ path('entrada_edit', {'id': entrada.id}) }}">Editar</a>

    {{ include('entrada/_delete_form.html.twig') }}

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
{% endblock %}
