<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nuevo terreno</li>
            </ol>
          </div>
        </div>
        <!-- Button modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          Crear Persona
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {{ form_start(form2) }}
              <div class="modal-body">
                <div class="form-group">
                  <label for="nif">DNI</label>
                  {{ form_widget(form2.nif, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="nif">Nombre</label>
                  {{ form_widget(form2.nombre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="nif">Apellidos</label>
                  {{ form_widget(form2.apellidos, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
              {{ form_end(form2) }}
              <div class="alerta-body">
                <div class="alerta"></div>
              </div>
              <label>Validaciones Incompletas - Archivo: funciones.js</label>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Añadir</button>
              </div>
            </div>
          </div>
        </div><!-- /Modal -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Terreno</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form) }}
                <div class="card-body">
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre del terreno</label>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="datos_sigpac">Datos SIGPAC</label>
                    {{ form_widget(form.datos_sigpac, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="localizacion_mapa">Localización Mapa</label>
                    {{ form_widget(form.localizacion_mapa, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="superficie_finca">Superficie de la Finca</label>
                    {{ form_widget(form.superficie_finca, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="id_persona">Propietario del terreno</label>
                    {{ form_widget(form.id_persona, {'attr': {'class': 'form-control'}}) }}
                  </div>
                </div>
                
                <!-- /.card-body -->

                <div class="card-footer">
                  <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
                </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Cultivos</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="superficie_cultivo">Superficie de Cultivos</label>
                  {{ form_widget(form.superficie_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="manejo_cultivo">Manejo de Cultivos</label>
                  {{ form_widget(form.manejo_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="tipo_cultivos">Tipo de Cultivos</label>
                  {{ form_widget(form.tipo_cultivos, {'attr': {'class': 'form-control'}}) }}
                </div>
              {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

      <a href="{{ path('terreno_index') }}">Volver a la lista</a>
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->