<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ text_form }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Administración</a></li>
              <li class="breadcrumb-item active">Nuevo terreno</li>
            </ol>
          </div>
        </div>

        <!-- Anclas -->
        <div class="d-flex justify-content-between">
          <div>
            {% if text_form == 'Nuevo Terreno' %}
              <!-- Button modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Crear Persona
              </button>
            {% endif %}
            <a class="btn btn-primary" href="#ancla-terreno">Terreno</a>
            <a class="btn btn-secondary" href="#ancla-cultivos">Cultivos</a>
          </div>
          {% if text_form == 'Editar Terreno' %}
            {{ include('terreno/_delete_form.html.twig') }}
          {% endif %}
        </div> <!-- /Anclas -->
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% if from2 is defined %}
                {{ form_start(form2) }}
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="nif">DNI</label>
                      {{ form_widget(form2.nif, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                      <label for="nif">Nombre</label>
                      {{ form_widget(form2.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                      <label for="nif">Apellidos</label>
                      {{ form_widget(form2.apellidos, {'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>
                  <div class="alerta-body">
                    <div class="alerta"></div>
                  </div>
                  <label>Validaciones Incompletas - Archivo: funciones.js</label>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                  </div>
                {{ form_end(form2) }}
              {% endif %}
            </div>
          </div>
        </div><!-- /Modal -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    {{ form_start(form) }}
      {% if text_form == "Editar Terreno" %}
        <div class="mb-3">
          <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
        </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 id="ancla-terreno" class="card-title">Terreno</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="nombre">Nombre del terreno</label>
                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="localidad">Localidad</label>
                    {{ form_widget(form.localidad, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="municipio">Municipio</label>
                    {{ form_widget(form.municipio, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="provincia">Provincia</label>
                    {{ form_widget(form.provincia, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="region">Region</label>
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="pais_origen">Pais de origen</label>
                    {{ form_widget(form.pais_origen, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="datos_sigpac">Datos SIGPAC</label>
                    {{ form_widget(form.datos_sigpac, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="localizacion_mapa">Localización Mapa</label>
                    {{ form_widget(form.localizacion_mapa, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="superficie_finca">Superficie de la Finca</label>
                    {{ form_widget(form.superficie_finca, {'attr': {'class': 'form-control'}}) }}
                  </div>
                  <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
                  </div>

                  {% set personaTerrenos = terreno.PersonaTerrenos.getValues %}
                  <div class="form-group">
                    <label for="terreno_personas">Personas</label>
                    {# {{ form_widget(form.id_persona, {'attr': {'class': 'form-control'}}) }} #}
                    <select id="terreno_personas" class="form-control select-personas" name="terreno[personas][]" multiple></select>

                    {% if personaTerrenos is not empty %}

                      {% for personaTerreno in personaTerrenos %}
                        {% set persona = personaTerreno.persona %}
                        <input class="personas" type="hidden" value="{{ persona.id }}"></input>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label for="terreno_propietarios">Propietario/s</label>
                    <select id="terreno_propietarios" class="form-control select-propietarios" name="terreno[propietarios][]" multiple></select>
                  
                    {% if personaTerrenos is not empty %}

                      {% for personaTerreno in personaTerrenos %}
                        {% if personaTerreno.propietario == true %}
                          {% set persona = personaTerreno.persona %}
                          <input class="personasSelect" type="hidden" value="{{ persona.id }}"></input>
                        {% endif %}
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="form-group">
                    <label for="persona_propietaria">¿Es propietario del terreno?</label>
                    
                    <div class="form-check">
                      {{ form_widget(form.persona_propietaria, {'attr': {'class': 'form-check-input'}}) }}
                      <label class="form-check-label" for="terreno_persona_propietaria">Si</label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 id="ancla-cultivos" class="card-title">Cultivos</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <label for="superficie_cultivo">Superficie de Cultivos</label>
                  {{ form_widget(form.superficie_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="manejo_cultivo">Manejo de Cultivos</label>
                  {{ form_widget(form.manejo_cultivo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                  <label for="tipo_cultivos">Tipo de Cultivos</label>
                  {{ form_widget(form.tipo_cultivos, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="{{ path('terreno_index') }}">Volver a la lista</a>
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
      </div>
      {{ form_end(form) }}
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->