{% extends 'base.html.twig' %}

{% block title %}Terreno index{% endblock %}

{% block body %}
    <h1>Terreno index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Direccion</th>
                <th>Nombre</th>
                <th>Datos_sigpac</th>
                <th>Localizacion_mapa</th>
                <th>Superficie_finca</th>
                <th>Superficie_cultivo</th>
                <th>Manejo_cultivo</th>
                <th>Tipo_cultivos</th>
                <th>Observaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terreno in terrenos %}
            <tr>
                <td>{{ terreno.id }}</td>
                <td>{{ terreno.direccion }}</td>
                <td>{{ terreno.nombre }}</td>
                <td>{{ terreno.datosSigpac }}</td>
                <td>{{ terreno.localizacionMapa }}</td>
                <td>{{ terreno.superficieFinca }}</td>
                <td>{{ terreno.superficieCultivo }}</td>
                <td>{{ terreno.manejoCultivo }}</td>
                <td>{{ terreno.tipoCultivos }}</td>
                <td>{{ terreno.observaciones }}</td>
                <td>
                    <a href="{{ path('terreno_show', {'id': terreno.id}) }}">show</a>
                    <a href="{{ path('terreno_edit', {'id': terreno.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('terreno_new') }}">Create new</a>
{% endblock %}
