{% extends 'backend-base.html.twig' %}

{% block title %}Entrada{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}
    {{ include('be-layout/navbar.html', sandboxed = true) }}
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <h1>Taxón</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ taxon.id }}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ taxon.tipo }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ taxon.nombre }}</td>
                </tr>
                <tr>
                    <th>Padre</th>
                    <td>{{ taxon.padre }}</td>
                </tr>
                <tr>
                    <th>Autoridad</th>
                    <td>{{ taxon.autoridad }}</td>
                </tr>
                <tr>
                    <th>Subtaxon</th>
                    <td>{{ taxon.subtaxon }}</td>
                </tr>
                <tr>
                    <th>Autoridad_subtaxon</th>
                    <td>{{ taxon.autoridadSubtaxon }}</td>
                </tr>
                <tr>
                    <th>Observaciones</th>
                    <td>{{ taxon.observaciones }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ taxon.descripcion }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('taxon_index') }}">Volver a la lista</a>

        <a href="{{ path('taxon_edit', {'id': taxon.id}) }}">Editar</a>

        {{ include('taxon/_delete_form.html.twig') }}
    </div>

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{{ include('be-layout/js.html', sandboxed = true) }}
{% endblock %}