{% extends 'backend-base.html.twig' %}

{% block title %}Fitosanitario{% endblock %}

{% block stylesheets %}
      {{ include('be-layout/stylesheet-tabla.html', sandboxed = true) }}
{% endblock %}

{% block body %}
<div class="wrapper">
    {{ include('be-layout/preloader.html', sandboxed = true) }}

    {{ include('be-layout/navbar.html', sandboxed = true) }}
  
    {{ include('be-layout/sidebar.html', sandboxed = true) }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tabla Fitosanitario</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Fitosanitario</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a class="btn btn-app" href="{{ path('fitosanitario_new') }}" style="margin: 0px;">
                                    <i class="fas fa-edit"></i>
                                    Crear Fitosanitario
                                </a>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fecha de detección de la patología</th>
                                            <th>Forma de detección</th>
                                            <th>Método de detección</th>
                                            <th>Fitopatología</th>
                                            <th>Pátogeno detectado</th>
                                            <th>Observaciones</th>
                                            <th>Envase</th>
                                            <th>Variedad</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for fitosanitario in fitosanitarios %}
                                        {% set envase = fitosanitario.envase %}
                                        {% set variedad = fitosanitario.variedad %}
                                        <tr>
                                            <td>{{ fitosanitario.id }}</td>
                                            <td>{{ fitosanitario.fecdetpat ? fitosanitario.fecdetpat|date('Y-m-d') : '' }}</td>
                                            <td>{{ fitosanitario.fordet }}</td>
                                            <td>{{ fitosanitario.metdet }}</td>
                                            <td>{{ fitosanitario.fitpat }}</td>
                                            <td>{{ fitosanitario.patdet }}</td>
                                            <td>{{ fitosanitario.obs }}</td>
                                            <td>
                                                {% if envase is not null %}
                                                    <div class="d-flex flex-column">
                                                    <a href="{{ path('envase_mostrar', {'id' : envase.id}) }}">{{ envase }}</a>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if variedad is not null %}
                                                    <div class="d-flex flex-column">
                                                        <a href="{{ path('variedad_mostrar', {'id' : variedad.id}) }}">{{ variedad }}</a>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('fitosanitario_show', {'id': fitosanitario.id}) }}">show</a>
                                                <a href="{{ path('fitosanitario_edit', {'id': fitosanitario.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fecha de detección de la patología</th>
                                            <th>Forma de detección</th>
                                            <th>Método de detección</th>
                                            <th>Fitopatología</th>
                                            <th>Pátogeno detectado</th>
                                            <th>Observaciones</th>
                                            <th>Envase</th>
                                            <th>Variedad</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{ include('be-layout/footer.html', sandboxed = true) }}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "order": [[ 0, "asc" ]]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

{% endblock %}
