{# templates/footer.html.twig #}
<footer id="footer" class="do-sizing-explicit">
	<div id="footer-area-topline"></div>
	<div id="footer-area-top">

		<div class="footer__marca">


			<div class="footer__partner space-b">

				<div id="footer-partner-title">
					<p>
						App Creada por:
					</p>
				</div>

				<div id="footer-partner-logo-outer">

					<div class="footer-partner-logo">
						<a href="https://www.tierra-fertil.es/" target="_blank">
							<img src={{ asset("images/partner_logo_tierra_fertil_rgb.png")}} alt="Tierra Fértil" class="logo-tierra-fertil"></a>
					</div>

				</div>

				<div id="footer-partner-title">
					<p>
						Colaboradores:
					</p>
				</div>
				<div id="footer-partner-logo-outer">

					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/partner_logo_gran_canaria_eco.png")}} alt="Gran Canaria Eco"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/FOOTER/Logo_ESPORUS.png")}} alt="Esporus Logo"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src='{{ asset("images/FOOTER/LOGO - El Bernegal/el bernegal.jpg")}}' alt="El Bernegal"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src='{{ asset("images/FOOTER/LOGO - LA TROJE/logo troje.jpeg")}}' alt="La Troje"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src='{{ asset("images/FOOTER/LOGO Red Mallorca/Logo_negre.jpg")}}' alt="Red Mallorca Negre"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src='{{ asset("images/FOOTER/Logo Carrucha verde.jpeg")}}' alt="Carrucha Verde"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src='{{ asset("images/FOOTER/LOGO PACA.png")}}' alt="PACA"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/FOOTER/logo-alborinco-octubre2019-negro_agricultura.png")}} alt="Alborncio Agricultura"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/FOOTER/RSA_logo.jpg")}} alt="RED SOCIAL DE SEMILLAS ARAGÓN"></a>
					</div>
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/FOOTER/tarei-logo.PNG")}} alt="Tarei")}}></a>
					</div>
				</div>

				<div id="footer-partner-title">
					<p>
						Financiado por:
					</p>
				</div>

				<div id="footer-partner-logo-outer">
					<div class="footer-partner-logo">
						<a href="" target="_blank">
							<img src={{ asset("images/partner_logo_cabildo_gran_canaria_small.jpg")}} alt="Cabildo De Gran Canaria"></a>
					</div>
				</div>
			</div>

			<div class="footer__partner"></div>

		</div>

		<div id="footer__area-bottom">
			<div id="footer__area-bottom-impression">
				<div class="footer__menu-social circle left">
					<div class="social__bottom">
						<a href="https://www.facebook.com/TierraFertilAAE">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="social__bottom">
						<a href="https://www.instagram.com/tierrafertilaae/">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
					<div class="social__bottom">
						<a href="https://twitter.com/tierrafertilaae">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
				</div>
				<div class="footer__logo left"><img src={{ asset("images/footer_logo.jpg")}} alt="" class="font RGCS"></a>
			</div>
			<div class="footer__menu-tools circle right">
				<div class="social__bottom">
					<a href="https://www.tierra-fertil.es/">
						<i class="fas fa-globe"></i>
					</a>
				</div>
				<div class="social__bottom">
					<a href="http://tierra-fertil.es/rgcs-app/public/contact">
						<i class="fas fa-envelope"></i>
					</a>
				</div>
				<div class="social__bottom">
					<a href="">
						<i class="fas fa-cog"></i>
					</a>
				</div>
			</div>
		</div>
		<nav id="menu-footer" class="horizontal">
			<ul>
				<li class="aviso-legal">
					<a href="https://www.tierra-fertil.es/aviso-legal/" target="_self">Aviso Legal</a>
				</li>
				{# <li class="terminos-y-condiciones">
					<a href="terminos-y-condiciones.html" target="_self">Términos y condiciones</a>
				</li> #}
				<li class="politica-de-privacidad">
					<a href="https://www.tierra-fertil.es/aviso-legal/politica-de-privacidad/" target="_self">Política de privacidad</a>
				</li>
				{# <li class="propietario">
					<a href="propietario.html" target="_self">Propietario</a>
				</li> #}
			</ul>
		</nav>
		<div id="footer-fancy-cc" class="bg-bubble-footer">
			<span>¡Cómo compartir, respetando las fuentes!</span>
		</div>
		<div id="footer__copyright">
			<span>
				<a href="https://www.tierra-fertil.es/">www.tierra-fertil.es</a>
				<br>
				RGCS 2021 © Todos los derechos Reservados</span>
		</div>
	</div>
</footer>

