<section class="main__secciones">

	<div class="main__secc catalogo cont">
		<div class="secc__cont">		
			<div class="secc__text bg__bubble">
				<h3>{{ 'title.socios'| trans}}</h3>
				Cuando esté habilitada esta sección, podrás ver las semillas que has obtenido de la Red, así como consultar el estado de tus compromisos con la misma, además de actualizar tus datos de soci@
			<button>Ver más</button>
			</div>

			<div class="secc__img-cont">
				<div class="secc__img">
					<img src="{{ asset('images/home/home_top_01_trans.png') }}" alt="" class="font RGCS">
				</div>
				<div class="secc__img-header socios">cata-<br />logo</div>
			</div>
		</div>
	</div>
	<div class="main__secc socios cont">
		<div class="secc__cont">

			<div class="secc__img-cont">
				<div class="secc__img">
				<img src="{{ asset('images/home/home_top_02_trans.png') }}" alt="" class="font RGCS">
				</div>
				<div class="secc__img-header socios"></div>
			</div>
			<div class="secc__text bg__bubble">
				<h3>{{ 'title.catalogo'| trans}}</h3>
				En esta sección podrás ver la información de las variedades con las que contamos y consultar, la disponibilidad de semillas que tenemos en la Red.
			</div>
		</div>
	</div>
	<div class="main__secc redgcs main__secc-cont">
		<div class="secc__cont">
			<div class="secc__text bg__bubble">
				<h3>{{ 'title.redgcs'| trans}}</h3>
				En esta sección podrás conocer algo más la RED, consultar información sobre nosotrxs, nuestro funcionamiento, objetivos, proyectos, fuentes de financiación, etc.

			</div>
			<div class="secc__img">
				<img src="{{ asset('images/home/home_top_03_trans.png') }}" alt="" class="font RGCS">
			</div>
		</div>
	</div>
</section>